<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>熱門話題</title>
    <script typet="text/javascript" src="../../static/jquery-2.2.0.js"></script>
    <!-- <script typet="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script> -->
    <script typet="text/javascript" src="../../static/common.js"></script>
    <link href="../../static/common.css" rel="stylesheet">
    <link href="../../static/commonS.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/mui.min.css">
    <link rel="stylesheet" href="../../static/mescroll.min.css">
<style>
  /* 刷新和加载 */
  .mescroll-downwarp{top:0 !important;}
</style>

  </head>

  <body>

    <div id="app" v-cloak>
<div>
    <div id="mescroll" class="mescroll" >
      <ul class="mui-table-view" id="LIST">
        <li @tap="xiangqings(item,item.objectId)" class="mui-table-view-cell mui-media padding20 afterlf0" style="height:1.7rem;" v-for="(item,index) in datas">
            <a href="javascript:;" class="padding0 margin0">
              <!--判断图片的控制显示和隐藏-->
                <!-- <img v-if="item.pics!=undefined&&item.pics.length>0" class="mui-media-object mui-pull-right" v-lazy="item.pics[0]" style="margin-left:0.2rem;width:1.9rem;"> -->
                <img v-if="item.pics!=undefined&&item.pics.length>0" class="mui-media-object mui-pull-right" v-lazy="item.pics[0]+imageView2" style="margin-left:0.2rem;max-width:1.9rem;min-width:1.9rem;min-height:1.3rem;">
                <div class="mui-media-body">
                 <p class="mui-ellipsis-2 fz27 c333333">{{item.title}}</p> 
                    <p class="mui-ellipsis fz18 c999999" style="margin-top: 0.35rem;">發佈：{{item.createdAt}}</p>
                </div>
            </a>
        </li>
     
    </ul>
    </div>
    </div>
</div>
<script src="../../static/vue.min.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script> -->
    <script src="../../static/vconsole.min.js"></script>
    <script src="../../static/mui.min.js"></script>
    <script src="../../static/mescroll.min.js"></script>
    <script src="../../static/vue-lazyload.js"></script>
    <!-- <script src=" https://unpkg.com/vue-lazyload/vue-lazyload.js"></script> -->
    <script type="text/javascript">
    Vue.use(VueLazyload,{
  // error:'../../assets/img/taolunqu/loading(2).gif',
  // loading:'../../assets/img/taolunqu/loading.gif'
  })
      mui.init();
    </script>
<script>
    var vm = new Vue({
        el: '#app',
        // store,
        data: {

         imageView2:'?imageView2/1/w/'+parseInt(380*w0)+'/h/'+parseInt(260*w0)+'/q/100!', 
        // page:0,
        // count:'',
          datas:[]

      },
      methods: {
      xiangqings(item,objectId){
        //  location.href="xiangqings.html?objectId="+objectId+"&name=hots&sessiontoken="+sessiontoken
        location.href="../taolunqu/taolunquXq.html?objectId="+objectId+"&sessiontoken="+sessiontoken
        // if(isAPP){
        //   locationClick('xiangqings')
        // }else{
        //   this.$router.push({name:'xiangqings'})
        // }
        
      },
      refresh(){
      //下拉刷新的回调
      var that=this;
			mescroll = new MeScroll("mescroll", {
				down:{
					auto:false //是否在初始化完毕之后自动执行下拉回调callback; 默认true; 
				},
				up: {
          offset:1000,
					callback:getListData,
					clearEmptyId: "LIST", //1.下拉刷新时会自动先清空此列表,再加入数据; 2.无任何数据时会在此列表自动提示空
          isBounce: false, 
          page: { // 要使用它提供的分页参数， 把分页功能托管给他
                num : 0,
                size : '20',
                time: null
            },
					noMoreSize: 1, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看
					empty: {
						tip: "已顯示全部內容", //提示
					}
				}
			});
			
			
			/*联网加载列表数据  page = {num:1, size:10}; num:当前页 从1开始, size:每页数据条数 */
			function getListData(page){
        if(page.num==1){
                    that.datas=[]
                }     
				getListDataFromNet(page.num,function(curPageData){
					mescroll.endSuccess(curPageData.length);
               //2.成功请求的回调 设置列表数据
          	   /*设置列表数据*/
                // if(page.num==1){
                //     that.datas=[]
                // }       
                for (var i = 0; i <curPageData.length; i++) {
                    that.datas.push(curPageData[i])
                }
			                   
				}, function(){
					//联网失败的回调,隐藏下拉刷新和上拉加载的状态;
	                mescroll.endErr();
				});
			}
						
			/*1.联网加载列表数据
			 * */
			function getListDataFromNet(page,successCallback,errorCallback) {
                	$.ajax({
                    type: 'GET',
		                url:Boss3 + 'hot_topic',
                    data:{"page":page,"limit":limit20,'sessiontoken':sessiontoken},
		                dataType: 'json',
		                success: function(dataAll){
                      if(dataAll.status){
                         // 只要成功请求到ture,就有可能是数组有数据或者数组数据为空
		                	  successCallback(dataAll.result.data);
                      }else{
                        //联网失败的回调,隐藏下拉刷新和上拉加载的状态;
                        mescroll.endErr();
                        mui.toast(dataAll.result.message)
                      }
                     
                    },
                    // 失败就一定是false,有可能是网络原因,也有可能是后台报错
		                error: errorCallback
		            });
			}
     }
    
    },
    mounted() {
      
      this.refresh()
    }


    })

  </script> 





  </body>

</html>