<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>推薦服務</title>
    <script typet="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
    <script typet="text/javascript" src="../../static/common.js"></script>

   <!--  <link href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script> -->
    <link href="../../static/common.css" rel="stylesheet">
    <link href="../../static/commonS.css" rel="stylesheet">
    <!-- <link href="../../static/imgUp.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="../../static/mui.min.css">

<style scoped>
body{background: #ebebeb !important;}
.tuijianfuwu>li:nth-child(2n){margin-left:0.15rem !important;}
.tuijianfuwu>li{margin-bottom:0.15rem !important;}
</style>
  </head>

  <body>
    <div id="app" v-cloak>
<div class="mui-scroll-wrapper">
    <div class="mui-scroll">
  <ul class="padding20 overflow tuijianfuwu bgebebeb">
     <li   @tap="xiangqings(item.objectId,item)"  style="width:2.91rem;height: 3.1rem;" class="bai border mui-pull-left relative blue" v-for="(item,index) in datas">
    <div style="width:100%;height: 1.7rem;" class="overflow relative">
       <img :src="item.pics!=undefined?item.pics[0]:''" alt="" style="width:100%;" class="jz"/>
                     <button type="button" class="mui-btn mui-btn-blue absolute fz19 cffffff" style="padding:0.05rem 0.1rem;border-radius:0;border:none;right: 0;top: 0;background-color: rgba(0,0,0,0.5);">
              {{item.pics.length}}張
            </button>
    </div>
   <div  style="padding: 0.1rem;" class="bai">
    <p class="fz30 c36c748 mui-ellipsis " style="height: 0.4rem;line-height: 0.4rem;">{{item.title}}</p>
    <p class="fz21 c666666 mui-ellipsis-2 " style="width:50%;height: 0.6rem;line-height: 0.3rem;margin-top:0.05rem;margin-bottom:0;">
      {{item.content}}
    </p>
   </div>
    <!--仅在线咨询，那么列表那里的电话按钮就不用显示了，推荐服务也是，  -->
    <!-- contactType=0  仅在线咨询  -->
     <img  v-if="item.contactType==1" @tap.stop="call(item.contact)" src="../../assets/img/home/tuijian.png" alt="" style="width:0.96rem;right:0.2rem;bottom:0.2rem;" class="absolute"/>
     </li>
  </ul>
  </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
 <script src="https://cdn.bootcss.com/vuex/3.0.1/vuex.min.js"></script>
 <script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script>
<!-- <script src="../store.js"></script> -->
    <script src="../../static/vconsole.min.js"></script>
    <script src="../../static/mui.min.js"></script>
    <!-- <script src="../fuwu/fuwu.js"></script> -->
     <!-- <script src="../taolunqu/taolunqu.js"></script> -->
 
      <!-- <script src="../xunxi/xunxi.js"></script> -->
       <!-- <script src="../me/me.js"></script> -->
    <!-- <script src="../../static/imgUp.js"></script> -->
    <script src="../../static/mui.pullToRefresh.js"></script>
    <script src="../../static/mui.pullToRefresh.material.js"></script>
    <!-- <script src="../../static/mui.zoom.js"></script> -->
    <!-- <script src="../../static/mui.previewimage.js"></script> -->
    <!-- <script src="../../static/public.js"></script> -->
    <script type="text/javascript">
      // 初始化previewImage
      // mui.previewImage();
      mui.init();
      // var objectId = '58bd0b8b1b69e6006b274f76' //'587f3b29570c352201193d6e'
      // var user = '';
    </script>
<script>
    var vm = new Vue({
        el: '#app',
         // store,
        data: {
       page:0,
        count:'',
            datas:[]

      },
      methods: {
            //拨打电话  //拨打电话的按钮
      call(phone){
        if(phone){
         location.href="tel:"+phone
        }else{
          mui.toast('電話號碼為空')
          // location.href='13411615312'
        }
      },
   //跳到详情
      xiangqings(objectId,item){
        //含有检举按钮，不是预览
        // this.$store.state.jianjuItem=item
        // this.$store.state.jianju=='yes'
        location.href='../xiangqing/xiangqing.html?jianju=yes&objectId='+objectId+'&name=no'
        
      },
      //推薦服務列表数据
  //刷新和加载
   refresh(){
        var that=this;
      (function($) {
        //阻尼系数
        var deceleration = mui.os.ios?0.003:0.0009;
        $('.mui-scroll-wrapper').scroll({
          bounce: false,
          indicators: true, //是否显示滚动条
          deceleration:deceleration
        });
        $.ready(function() {
          //循环初始化所有下拉刷新，上拉加载。
          $.each(document.querySelectorAll('.mui-scroll'), function(index, pullRefreshEl) {
            $(pullRefreshEl).pullToRefresh({
              down: {
                callback: function() {
//                  alert('刷新')
                  var self = this;
                  that.page=0
                  that.datas=[]
                  mui.ajax(Boss3 + 'recommend', {
                      data:{"page":1,"limit":limit20,'sessiontoken':sessiontoken},
                      dataType: 'json', //服务器返回json格式数据
                      type: 'GET', //HTTP请求类型
                      timeout: 10000, //超时时间设置为10秒；
                    success: function(data) {
                        //1.服务器返回响应，根据响应结果，分析是否登录成功；
                        if(data.status == true) {
                            that.count = data.result.count
                            that.datas = data.result.data
                        setTimeout(function(){
                                                     self.endPullDownToRefresh();//关闭刷新
                        },1000)
                                                
                        }else{
                          mui.toast(data.result.message)
                        }
                        

                      },
                      error: function(xhr, type, errorThrown) {
                        //异常处理；
                        self.endPullDownToRefresh();//关闭刷新
                        mui.toast(errorThrown, {
                          duration: 'long',
                          type: 'div'
                        })
                      }
                    });

                }
              },
              up: {
                auto: true,//可选,默认false.首次加载自动下拉刷新一次
                callback: function() {
//                  alert('加载')
                  var self = this;
                  that.page++
                  mui.ajax(Boss3 + 'recommend', {
                        data:{"page":that.page,"limit":limit20,'sessiontoken':sessiontoken},
                      dataType: 'json', //服务器返回json格式数据
                      type: 'GET', //HTTP请求类型
                      timeout: 10000, //超时时间设置为10秒；
                    success: function(data) {
                        //1.服务器返回响应，根据响应结果，分析是否登录成功；
                        if(data.status == true) {
                            that.count=data.result.count  
                            //如果是切换标签的加载事件也就是现在请求的是第一页，所以则要让页数变为1，下次加载的时候就变成++
                            if(that.page==1){
                              that.datas=[]
                            }
                            
                            for (var i = 0; i < data.result.data.length; i++) {
                            that.datas.push(data.result.data[i])
                            }
                            if(that.count == that.datas.length) {
                              self.endPullUpToRefresh(true);//没有更多数据
                              
                            }else{
                                    self.endPullUpToRefresh();//加载更多数据
                            }
                                                
                        }else{
                          mui.toast(data.result.message)
                        }
                        

                      },
                      error: function(xhr, type, errorThrown) {
                        //异常处理；让当前页数变回减1
                          that.page--
                        self.endPullDownToRefresh();//关闭刷新
                        mui.toast(errorThrown, {
                          duration: 'long',
                          type: 'div'
                        })
                      }
                    });

                }
              }
            });
          });


        });
      })(mui);
      }
      
               
    },
    mounted() {
          // this.$store.state.name='推薦服務'
          //推薦服務的接口
          this.refresh()
    }


    })

  </script> 





  </body>

</html>