<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>租售物業</title>
    <script typet="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
    <script typet="text/javascript" src="../../static/common.js"></script>

    <link href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <link href="../../static/common.css" rel="stylesheet">
    <link href="../../static/commonS.css" rel="stylesheet">
    <!-- <link href="../../static/imgUp.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="../../static/mui.min.css">
<style scoped>
.header{background:url('../../assets/img/wuyebangzhu/zusouwuye.png') no-repeat;background-size:6.4rem 3.65rem;}
.header>li{width:50%;height:50%;}
.after02:after{right:0rem !important;color:#666666;font-size:0.21rem;}
.before0:before{height:0 !important;}
.after0:after{height:0 !important;}
body{background: #ebebeb !important;}
</style>
  </head>

  <body>

    <div id="app" v-cloak>

  <div>
    <!--A.4个模块的跳转-->
<!--    <p id="dddd" class="h100 red"></p>-->
<!-- <p @click="model('http://192.168.0.104:85/yemian/zusouwuye/model8.html?name=代购代收&sessiontoken=ohlhgspmwdk5eh0iy6qkacuks')">测试八大模块的发布</p> -->

    <ul style="height:3.65rem;" class="header" id='buttomss'>
      <li @click="gorouter(index)" class="lf relative" v-for="(item,index) in header">
        <span :style="{bottom:index==0||index==1?'-0.1rem':'0.05rem'}" class="fz25 c333333 spjz bold" style="bottom:0;">{{item}}</span>
      </li>
    </ul>
    <!--B1.最新租盘-->
    <ul class="mui-table-view mg10 before00" style="height:0.7rem;">
            <li class="mui-table-view-cell after00 before00" style="padding:0 0.2rem;">
                <a class="mui-navigate-right fz23 c333333 padding0 margin0 after02 before00" style="height:0.7rem;line-height:0.7rem;">
               <span style="border-left:0.05rem solid #4da6f9;margin-right:0.05rem;"></span>            
                           最新租盤
                <span @click="go('liebiaoZu')" class="fz21 c666666 mui-pull-right" style="margin-right:0.2rem;">
                  更多
                </span>
                </a>
            </li>
        </ul>
    <!--B2.4个最新租盘图片-->
    <ul class="mui-table-view overflow before0 after00" style="padding:0.2rem 0.2rem 0 0.2rem;">
            <li @click="xiangqings(item.objectId,item)" v-if="zu!='no'" v-for="(item,index) in zu" :class="{lf:index==0||index==2,rf:index==1||index==3}" class="mui-table-view-cell padding0 border after0" style="margin-bottom:0.2rem;width:2.91rem;height:3rem;">
                <div id="" class="relative overflow" style="height:1.7rem;">
                  <img :src="item.cover+imageView2" alt="" style="" class="jz" style="min-height:1.7rem;"/>
                  <button v-cloak type="button" class="mui-btn mui-btn-blue absolute fz19 cffffff" style="padding:0.05rem 0.1rem;border-radius:0;border:none;right: 0;top: 0;background-color: rgba(0,0,0,0.4);">
                    {{item.pics.length}}張
            </button>
            <button type="button" class="mui-btn absolute fz21 cffffff" style="padding:0.05rem 0.1rem;border-radius:0;border:none;right: 0;bottom: 0;background-color: rgba(0,0,0,0.4);">
                        <span class="cff4d00">@{{item.unit}}</span>/呎
                      </button>
                </div>
                <div id="" style='padding:0.05rem 0.1rem;'>
                  <p class="mui-pull-left c36c748 mui-ellipsis fz33 pT05"  style="width:100%;">{{item.title}}</p>
                  <p class="fz23 c666666  mui-inline" style="margin-top:0.01rem;height:0.4rem;line-height:0.5rem;">
                    <span class="fz33 cff4d00 mui-inline" style="height:0.4rem;line-height:0.4rem;">{{item.price}}</span>
                    元/月
                  </p>
                  <div class="overflow" style="height:0.3rem;margin-top:0.01rem;">
                      <span class="fz21 c666666 lf" style="height:0.3rem;line-height:0.3rem;">{{item.build_area}}</span>
                      <div class="relative rf" style="height:0.3rem;line-height:0.3rem;">
                        <img :src="item.area_type=='1'?'../../assets/img/taolunqu/bao.png':'../../assets/img/taolunqu/jian.png'" alt="" style="height:0.22rem;width:0.22rem;" class="czjz"/>
                  <span class="fz23 cff4c00 mui-inline" style="margin-left:0.25rem;height:0.3rem;line-height:0.3rem;" >{{item.area}}</span><span class="fz19 c666666 mui-inline" style="height:0.3rem;line-height:0.3rem;" >呎</span>
                      
                      </div>
                  </div>
              
                </div>
            </li>
        </ul>
        
        
        <!--C1.最新售盤-->
    <ul class="mui-table-view mg10 before00" style="height:0.7rem;">
            <li class="mui-table-view-cell" style="padding:0 0.2rem;">
                <a class="mui-navigate-right fz23 c333333 padding0 margin0 after02" style="height:0.7rem;line-height:0.7rem;">
             <span style="border-left:0.05rem solid orange;margin-right:0.05rem;"></span>       
                    最新售盤
                <span  @click="go('liebiaoSou')" class="fz21 c666666 mui-pull-right" style="margin-right:0.2rem;">
                  更多
                </span>
                </a>
            </li>
        </ul>
    <!--C2.4个最新售盤图片-->
     <ul class="mui-table-view overflow before0 after00" style="padding:0.2rem 0.2rem 0 0.2rem;">
            <li @click="xiangqings(item.objectId,item)" v-if="zu!='no'" v-for="(item,index) in sou" :class="{lf:index==0||index==2,rf:index==1||index==3}" class="mui-table-view-cell padding0 border after0" style="margin-bottom:0.2rem;width:2.91rem;height:3rem;">
                <div id="" class="relative overflow" style="height:1.7rem;">
                  <img :src="item.cover+imageView2" alt="" style="" class="jz" style="min-height:1.7rem;"/>
                  <button v-cloak type="button" class="mui-btn mui-btn-blue absolute fz19 cffffff" style="padding:0.05rem 0.1rem;border-radius:0;border:none;right: 0;top: 0;background-color: rgba(0,0,0,0.4);">
              {{item.pics.length}}張
            </button>
            <button type="button" class="mui-btn absolute fz21 cffffff" style="padding:0.05rem 0.1rem;border-radius:0;border:none;right: 0;bottom: 0;background-color: rgba(0,0,0,0.4);">
                        <span class="cff4d00">@{{item.unit}}</span>/呎
                      </button>
                </div>
                <div id="" style='padding:0.05rem 0.1rem;'>
                  <p class="mui-pull-left c36c748 mui-ellipsis fz33 pT05"  style="width:100%;">{{item.title}}</p>
                  <p class="fz23 c666666  mui-inline" style="margin-top:0.01rem;height:0.4rem;line-height:0.5rem;">
                    <span class="fz33 cff4d00 mui-inline" style="height:0.4rem;line-height:0.4rem;">{{item.price}}</span>
                    萬
                  </p>
                  <div class="overflow" style="height:0.3rem;margin-top:0.01rem;">
                      <span class="fz21 c666666 lf" style="height:0.3rem;line-height:0.3rem;">{{item.build_area}}</span>
                      <div class="relative rf" style="height:0.3rem;line-height:0.3rem;">
                        <img :src="item.area_type=='1'?'../../assets/img/taolunqu/bao.png':'../../assets/img/taolunqu/jian.png'" alt="" style="height:0.22rem;width:0.22rem;" class="czjz"/>
                  <span class="fz23 cff4c00 mui-inline" style="margin-left:0.25rem;height:0.3rem;line-height:0.3rem;" >{{item.area}}</span><span class="fz19 c666666 mui-inline" style="height:0.3rem;line-height:0.3rem;" >呎</span>
                      
                      </div>
                  </div>
              
                </div>
            </li>
        </ul>       
  </div>

</div>

 <script src="https://cdn.bootcss.com/vue/2.5.9/vue.min.js"></script>
 <!-- <script src="https://cdn.bootcss.com/vuex/3.0.1/vuex.min.js"></script> -->
 <!-- <script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script> -->

    <script src="../../static/vconsole.min.js"></script>
    <script src="../../static/mui.min.js"></script>
    <!-- <script src="../../templated/liebiao.js"></script> -->
    <!-- <script src="../../static/imgUp.js"></script> -->
    <!-- <script src="../../static/mui.pullToRefresh.js"></script> -->
    <!-- <script src="../../static/mui.pullToRefresh.material.js"></script> -->
    <!-- <script src="../../static/mui.zoom.js"></script> -->
    <!-- <script src="../../static/mui.previewimage.js"></script> -->
    <!-- <script src="../../static/public.js"></script> -->
    <script type="text/javascript">
      // 初始化previewImage
      // mui.previewImage();
      mui.init();
      // var objectId = '58bd0b8b1b69e6006b274f76' //'587f3b29570c352201193d6e'
      var user = '';
    </script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
         imageView2:'?imageView2/1/w/'+parseInt(291*w0)+'/h/'+parseInt(170*w0),
                  header:['查看租盤','查看售盤','我要放租','我要放售'],
                  zu:'no',//最新租盘
                  sou:'no'//最新售盘

      },
          methods: {
 model(href){
     location.href=href
 },
          //跳到详情
      xiangqings(objectId,item){
        // this.$store.state.jianjuItem=item
        //含有检举按钮，不是预览
        // window.localStorage.setItem('jianjuItem',JSON.stringify(item))
    
        location.href='../xiangqing/xiangqing.html?objectId='+objectId+'&name=zusou&jianju=yes&sessiontoken='+sessiontoken
        // if(isAPP){
        //   locationClick('xiangqing/'+objectId+'/zusou')
        // }else{
        //   this.$router.push({name:'xiangqing',params:{objectId:objectId,name:'zusou'}})
        // }
        
//        
      },
      //更多
      go(name){
        if(name=='liebiaoZu'){
          window.location.href='../xiangqing/liebiaoZu.html?sessiontoken='+sessiontoken
        }else{
          window.location.href='../xiangqing/liebiaoSou.html?sessiontoken='+sessiontoken
        }
      },
      //4个模块的跳转
      gorouter(index){
        
        if(index==0){
          //查看租盘
          window.location.href="../xiangqing/liebiaoZu.html?sessiontoken="+sessiontoken              
        }else if(index==1){
          //查看售盘
          window.location="../xiangqing/liebiaoSou.html?sessiontoken="+sessiontoken
          // reutrn false; 
                
        }else if(index==2){
          //我要放租
          if(sessiontoken){
            var id = localStorage.getItem('userId')
              if (id) {
                $.get(Boss + 'user/' + id, function (data, status) {
                  if (data.status==true) {
                  if(data.result.phone){
                     //检测用户是否可发布   检测点，posts = 帖，agents = 楼盘
                     checker('agents',function(data) {
                           if(data.status){
                                if(data.result.pass==1){
                                     // 可以发布
                                     location.href='../lin/rent_index.html?sessiontoken='+sessiontoken
                                }else{
                                     mui.alert('您已到達發佈上限，若需調整發佈條數，請聯繫我們。',['好的'])
                                }
                           }
                       })
                  }else{
                    mui.alert('請先到【我的】--【個人資料】綁定手機號碼')
                  }
                      
                  }else{
                      
                  }
                })
  }
                    //  //检测用户是否可发布   检测点，posts = 帖，agents = 楼盘
                    //    checker('agents',function(data) {
                    //        if(data.status){
                    //             if(data.result.pass==1){
                    //                 // 可以发布
                    //                   location.href='../lin/rent_index.html?sessiontoken='+sessiontoken
                    //             }else{
                    //                  mui.alert('您已到達發佈上限，若需調整發佈條數，請聯繫我們。',['好的'])
                    //             }
                    //        }
                    //    })
          }else{
             //登录提示框
          mui.toast('請先到【我的】登入')
          }      
                
        }else if(index==3){
          if(sessiontoken){
            var id = localStorage.getItem('userId')
              if (id) {
                $.get(Boss + 'user/' + id, function (data, status) {
                  if (data.status==true) {
                  if(data.result.phone){
                     //检测用户是否可发布   检测点，posts = 帖，agents = 楼盘
                     checker('agents',function(data) {
                           if(data.status){
                                if(data.result.pass==1){
                                     // 可以发布
                                     location.href='../lin/sell_index.html?sessiontoken='+sessiontoken
                                }else{
                                     mui.alert('您已到達發佈上限，若需調整發佈條數，請聯繫我們。',['好的'])
                                }
                           }
                       })
                  }else{
                    mui.alert('請先到【我的】--【個人資料】綁定手機號碼')
                  }
                      
                  }else{
                      
                  }
                })
  }
                     
          }else{
             //登录提示框
          mui.toast('請先到【我的】登入')
          }  
                 
        }


      },
    //最新租盘
    zus(){
      var that=this     
      //获取租盘列表的信息
      $.get(Boss+'agent',
          {'limit': 4,'page':1,'category':'rent','sessiontoken':sessiontoken},
          function(data){
                if(data.status == true) {
                that.zu = data.result.data
                }
                }
          )
                  
    },
    //最新售盘
    sous(){
      var that=this     
      //获取租盘列表的信息
      $.get(Boss+'agent',
          {'limit': 4,'page':1,'category':'sell','sessiontoken':sessiontoken},
          function(data){
                if(data.status == true) {
                that.sou = data.result.data
                }
                }
          )
                  
    }
               
    },
    mounted() {
      // $('#dddd').html(sessiontoken)
       // this.$store.state.name='租售物業'
            this.zus()
            this.sous()
    }
    })

  </script> 





  </body>

</html>