/*   @font-face {
    font-family: '微软雅黑';
    src:url('MSYH.TTF') format('truetype')
} */
body{margin:0;padding: 0;font-family: 微软雅黑;color:black;
    }
p,h1,h2,h3,h4,h5,h6{margin:0;padding: 0;}
ul,li,ol,dl{margin:0;padding: 0;list-style: none;}
a{text-decoration: none;}
