<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>添加照片</title>
    <!-- 引入样式 -->
    <!-- <link rel="stylesheet" href="https://unpkg.com/vant/lib/vant-css/index.css"> -->
    <link rel="stylesheet" href="./css/reset.css">
    <link rel="stylesheet" href="./css/pic.css">
    <link rel="stylesheet" href="../../static/common.css">
    <script src="./js/flexible.min.js"></script>
    <script>
      var bbbb
    </script>
</head>

<body style="background:white;">
    <div id="app" v-cloak>
      <div class="wai_kuangs" v-if="loading==true" style="background:rgba(0,0,0,0);">
        <div class="nei_kuang">
            <img src="../../static/bbb.gif" alt="">
        </div>
        <!-- <div class="nei_kuang bai center" style="width:4rem;height:1rem;line-height:1rem;font-size:0.3rem;">
            圖片添加中,請稍後...
        </div> -->
       
      </div>
      <!-- <div style="display:none;">{{pics}}</div> -->
      <div ref="temp">
        <!-- <cp-nav @back="back" title="添加照片"></cp-nav> -->
        <div class="main">
          <ul class="ul">
            <li v-for="(urlstr, index) in imgUrl"  v-if="normalType==false" class="alltu"><span class="pic-r"></span><img :src="urlstr" alt="" @click="clickImg(index, $event)"  ><span class="slc-style" @click="cancelSlc(index, $event)"></span></li>

            <li v-for="(urlstr, index) in imgUrl" v-if="normalType==true" class="alltu"><span class="pic-r"></span><img :src="urlstr" alt="" @click="clickImg(index, $event)" :data-preview-src="urlstr"  data-preview-group="urlstr" ><span class="slc-style" @click="cancelSlc(index, $event)"></span></li>

            <li :style="setStyle" v-if="showAdd">
              <input type="file" id="input" name="file"  accept="image/*"  ref="input" multiple >
            
            </li>
          </ul>
        </div>

        <div class="footer" :class="{normalfooter: isnormalfooter}">
          <div v-if="normalType">
            <button @click="editImg">編輯</button>
            <button @click="saveImg">保存</button>
          </div>

          <div v-if="delType">
            <button @click="cancelClick">取消</button>
            <button @click="delClick">刪除</button>
          </div>
    
          <div v-if="setType">
            <button @click="setF" style="width: 2.4rem;margin-right:0rem;color: white;background: #36c748;">設置為封面</button>
          </div>
    
        </div>
        <div class="warp" v-if="show" @click="notShow" v-cloak>
          <div class="wrap-box">
            <p @click="setingImg">設置封面圖</p>
            <p @click="delImg">刪除照片</p>
          </div>
        </div>
      </div>
    </div>
    <script src="../../static/vconsole.min.js"></script>

    <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="../../static/common.js"></script>
    <link rel="stylesheet" href="../../static/mui.min.css">
    <script src="../../static/mui.min.js"></script>
    <!-- <script src="../../static/exif.js"></script> -->
    <script src="https://cdn.bootcss.com/exif-js/2.3.0/exif.js"></script>
    <script src="./js/imgUp.js"></script>
    <!-- 引入组件 -->
    <!-- <script src="https://unpkg.com/vant/lib/vant.min.js"></script> -->
    <script src="./js/saveObject.js"></script>
    <script src="./js/pic.js"></script>
    <script src="../../static/mui.zoom.js"></script>
    <script src="../../static/mui.previewimage.js"></script>
    <script>
           // 初始化previewImage
      mui.previewImage();
      mui.init();
    </script>
    <!-- <script src="../../static/vconsole.min.js"></script> -->

</body>

</html>