<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>發佈租盤房源</title>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="./css/vant.css">
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/lincommon.css">
  <link rel="stylesheet" href="./css/rent_cw.css">
  <link rel="stylesheet" href="./css/rent_public.css">
  <script src="./js/flexible.min.js"></script>
</head>

<body>

  <div id="app" v-cloak>
      <div  v-if="alerts==true" class="alertss">
          帶*號項為必填項
      </div>
          <!--正在發佈-->
          <div class="wai_kuangs" v-if="isending==false">
              <div class="nei_kuang fabuing">{{rentobject.objectId?'正在保存,請稍後...':'正在發佈,請稍後...'}}</div>
            </div>
    <!-- 添加照片 -->
    <div class="add-pics" :style="setImg">
      <img :src="setaddImg" @click="addPic">
      <h2 @click="addPic" v-show="iseditImg">添加照片</h2>
      <p v-show="iseditImg">色彩明亮的照片可以大幅度提高房屋出租的速度最多可上傳12張照片</p>
    </div>

    <!-- 租金 -->
    <div class="price publicCss">
      <p class="title">
        <span>*</span>租金</p>
      <div class="content">
        <input type="number" placeholder="0" v-model="rentobject.price">
       
        <span>元/月</span>
      </div>
    </div>

    <!-- 楼层 -->
    <div class="cwfloor publicCss">
      <p class="title">
        <span>*</span>樓層</p>
      <div class="content">
        <div>
          <input type="text" placeholder="請點擊選擇樓層(-10~10)" v-model="rentobject.floor" disabled="disabled">
          <span @click="isShow"></span>
        </div>
      </div>
    </div>

    <!-- 樓層彈出層 -->
    <!-- <louceng :show="showLouceng" @isShow="isShow" @actionclick="floorClick"></louceng> -->
    <div class="cwfloordiv" v-if="showLouceng" @click="showLouceng = !showLouceng">
      <div class="box">
        <h2>請選擇樓層</h2>
        <ul>
          <li v-for="item in floordata" @click.stop="floorClick(item.text)">{{item.text}}</li>
        </ul>
      </div>
    </div>

    <!-- 車位编号 -->
    <div class="code publicCss">
      <p class="title">車位編號</p>
      <div class="content">
        <div>
          <!-- <input type="text" placeholder="點擊輸入5位數字/英文 例如: 7899A" :value="code" @input="codeEdit($event.target.value)"> -->
          <input type="text" placeholder="點擊輸入5位數字/英文 例如: 7899A" v-model="rentobject.code">
        </div>
      </div>
    </div>

    <!-- 可起租時間 -->
    <div class="start-time publicCss">
      <p class="title">可起租時間</p>
      <div class="content">
        <span :style="starttime" @click="slcStartTime">隨時</span>
        <span @click="slcStartTime">{{datetime}}</span>
      </div>
    </div>

    <div class="fabu-model" v-show="DatetimePickerShow">
      <van-datetime-picker v-model="currentDate" type="date" :min-hour="minDate" @confirm="slcTime" @cancel="cancelTime">
    </div>

    <!-- 特色說明 -->
    <div class="features publicCss">
      <p class="title">特色說明</p>
      <div class="content">
        <w-checkbox :data="featuresData" @actionclick="featuresClick"></w-checkbox>
        <p>*此項最多可同時選擇
          <span>4</span>個</p>
      </div>
    </div>

    <!-- 發佈者身份 -->
    <div class="from publicCss">
      <p class="title">
        <span>*</span>發佈者身份</p>
      <div class="content">
        <w-radio :data="fromData" @actionclick="fromClick" isradio="radio"></w-radio>
      </div>
    </div>

    <!-- 聯絡方式 -->
    <div class="contact-type publicCss">
      <p class="title">
        <span>*</span>聯絡方式</p>
      <div class="content" :style="contactTypeStyle">
        <w-radio :data="contactTypeData" @actionclick="contactTypeClick" isradio="radio"></w-radio>
      </div>
      <div class="show-Box" v-show="rentobject.contactType == '1'">
        <div class="box-item-1">
          <span>聯絡人</span>
          <!-- <input type="text" :placeholder="contacts" @input="inputContacts($event.target.value)"> -->
          <input type="text" v-model="rentobject.contacts">
        </div>
        <div class="box-item-2">
          <span>電話</span>
          <!-- <input type="number" :placeholder="userphone" @input="inputUserPhone($event.target.value)"> -->
          <input type="number" v-model="rentobject.phone">
        </div>
      </div>
      <div class="show-Box2" v-show="rentobject.contactType == '1'">
        <w-radio :data="contactTypeData2" @actionclick="contactTypeClick2"></w-radio>
      </div>
    </div>

    <!-- 詳細描述 -->
    <div class="remark publicCss">
      <p class="title">詳細描述</p>
      <div class="content">
        <textarea placeholder="描述一下您的房源獨特之處以及對租客的期望..." v-model="rentobject.remark"></textarea>
      </div>
    </div>


    <!-- 下一步 -->
    <div class="footer">
      <div>
        <button type="button" @click="next" style="padding:0;">詳情預覽</button>
        <button type="button" @click="publish" style="padding:0;">{{rentobject.objectId?'保存修改':'立即發布'}}</button>
      </div>
    </div>



  </div>

  <script>
    function getAppLocalData(data) {
      data=data.replace(/\n/g,"\\n").replace(/\r/g,"\\r");
      if (data) {
        console.log('有值传过来', data)
        // 后台传过来的是有,号分割的,我自己写的是没有逗号分割的,输入框类型是数字类型,含逗号是显示不了的   
      vm.rentobject = JSON.parse(data)
      if(isNaN(vm.rentobject.price)){
        // 含有逗号
        var pricea=vm.rentobject.price.replace(/,/,'')
        vm.rentobject.price=parseFloat(pricea)
      }      
        initdata()
         
      } else {
        console.log('没有传值过来')
        vm.rentobject = JSON.parse(JSON.stringify(saveObject))
        initdata()
      }

    }
  </script>

  <script src="../../static/vconsole.min.js"></script>
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="../../static/common.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/axios/0.18.0/axios.min.js"></script>
  

  <!-- 配置axios -->
  <script src="./js/axios.config.js"></script>
  <!-- 引入组件 -->
  <script src="https://unpkg.com/vant/lib/vant.min.js"></script>
  <script src="./js/temps/rent_radio.js"></script>
  <script src="./js/temps/rent_checkbox.js"></script>
  <script src="./js/rent_saveObject.js"></script>

  <!-- 上传功能函数 -->
  <script src="./js/func.js"></script>
  <script src="./js/rent_cw.js"></script>


</body>

</html>