<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>發佈售盤房源</title>
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/sell_index.css">
  <script src="./js/flexible.min.js"></script>
</head>

<body>
  <div id="app" :class="{'is-Sp': isSPLX}">
    <div class="lei-xing">
      <p class="title">
        <span>*</span>類型</p>
      <div class="main">
        <div class="item" v-for="(item, index) in typeData" :style="{backgroundImage: `url(${item.state ? item.imgurl1 : item.imgurl2})`}" @click="selectTypeItem(index)">
          <i :class="{active: item.state ? true : false}">{{item.text}}</i>
        </div>
      </div>
    </div>

    <div class="wu-ye">
      <p class="title">
        <span v-if="!isSPLX">*</span>物業名稱</p>
      <div class="main">
        <span>{{build_name}}sdfsdf</span>
        <p class="sel" @click="goto('build_name')">選擇</p>
      </div>
    </div>

    <div class="di-qu">
      <p class="title">
        <span>*</span>地區</p>
      <div class="main">
        <span>{{build_area}}asdfadsf</span>
        <p class="sel" @click="goto('build_area')">選擇</p>
      </div>
    </div>

    <div class="jie-dao">
      <p class="title">
        <span v-show="isSPLX">*</span>街道</p>
      <div class="main">
        <input class="inp" type="text" placeholder="請點擊輸入" :value="build_street" @input="streetInputFunc($event.target.value)">
      </div>
    </div>

    <div class="chu-zu">
      <p class="title">
        <span>*</span>物業現況</p>
      <div class="main" :class="{'no-border-bottom' : !isSPLX}">
        <ul class="box">
          <li v-for="(item, index) in sArr" @click="buildStatusFunc(index)" :style="{backgroundImage: `url(${item.state ? item.slcImg : item.normalImg})`}">
            {{item.text}}
          </li>
        </ul>
      </div>
    </div>

    <div class="shang-pu" v-show="isSPLX">
      <p class="title">
        <span>*</span>商鋪類型</p>
      <div class="main no-border-bottom">
        <div class="item" v-for="(item, index) in shopTypeData" :style="{backgroundImage: `url(${item.state ? item.imgurl1 : item.imgurl2})`}" @click="selectShopTypeItem(index)">
          <i :class="{active: item.state}">{{item.text}}</i>
        </div>
      </div>
    </div>

    <div class="footer">
      <div class="content">
        <p @click="next">下一步</p>
      </div>
    </div>
  </div>
  <script src="https://cdn.bootcss.com/vue/2.5.13/vue.min.js"></script>
  
  <!-- <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <script src="../../static/common.js"></script> -->
  <script src="./js/sell_index.js"></script>
</body>

</html>