<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>我的樓盤</title>
    <script src="/html/static/jquery-2.2.0.js"></script>
    <script src="/html/static/common.js"></script>
    <link href="/html/static/common.css" rel="stylesheet">
    <link href="/html/static/commonS.css" rel="stylesheet">
    <link rel="stylesheet" href="/html/static/mui.min.css">
    <link rel="stylesheet" href="/html/static/mescroll.min.css">
    <!-- <script typet="text/javascript" src="../../static/jquery-2.2.0.js"></script>
    <script typet="text/javascript" src="../../static/common.js"></script>
    <link href="../../static/common.css" rel="stylesheet">
    <link href="../../static/commonS.css" rel="stylesheet">
    <link rel="stylesheet" href="../../static/mui.min.css">
    <link rel="stylesheet" href="../../static/mescroll.min.css"> -->
<style scoped>
/*子组件liebiao.js的样式*/
/*左边的图片的样式*/	
	.tukuang {
		width: 2.45rem !important;
		height: 2.15rem !important;
		max-width: 2.45rem !important;
		/*插件默认了一个最大宽度，这里要重新定义*/
	}
/*分租的样式*/	
	.fenzu {
		padding:0rem 0.04rem 0rem 0.04rem;
	   /* height:0.32rem; */
	   /*line-height:0.3rem;*/ 
	   
	}
		.fenzu:active {
		background-color: white !important;
	}
/*列表右边的间距*/	
	.mui-table-view-cell:after {
		right: 0.2rem;left: 0.2rem;
	}
</style>
<style scoped>
/*父组件wodeloupan.html的样式*/
.header{height:0.7rem;}
.header>ul{height:0.7rem;}
.header>ul:after,.header>ul>li:after{height:0 !important;}
.liebiao{margin-top:0.1rem;}
/*箭头重新定位*/
.tap1:after{color:#666666;}
.tap2:after{color:#666666;}
/*由于字数不一样，箭头要贴近文字，所以要区别对待*/
.tap1.jiantou0:after{right:0.9rem !important;}
.tap1.jiantou1:after{right:1.15rem !important;}
.tap1.jiantou2:after{right:1.15rem !important;}

.tap2.jiantou0:after{right:0.9rem !important;}
.tap2.jiantou1:after{right:1.05rem !important;}
.tap2.jiantou2:after{right:1.05rem !important;}

.tap1.c36c748:after,.tap2.c36c748:after{color:#36C748;}
.mui-table-view-cell.mui-collapse.mui-active,.mui-table-view-cell.mui-collapse.mui-active>a:after{color:#36C748;}
.mui-table-view-cell.mui-active {
    background-color: white !important;
}
/*类型*/
.mui-table-view-cell.mui-collapse .mui-table-view .mui-table-view-cell{padding-right: 0;padding-left: 0;}
.tap1.mui-active,.tap2.mui-active{background:white !important;}
.list>li:after{left:0 !important;}
.list>li{height: 0.74rem;line-height: 0.74rem;padding:0;color:#333333;}
.list>li:active{color:#36C748;}
.list:before{height: 1px !important;}
/*左边的图片的样式*/	
	.tukuang {
		width: 2.45rem;
		height: 2.15rem;
		max-width: 2.45rem;
		/*插件默认了一个最大宽度，这里要重新定义*/
	}
/*分租的样式*/	
	.fenzu {
		padding:0rem 0.04rem 0rem 0.04rem;
	   /* height:0.32rem; */
	   /*line-height:0.3rem;*/ 
	   
	}
		.fenzu:active {
		background-color: white !important;
	}
/*列表右边的间距*/	
	.mui-table-view-cell:after {
		right: 0.2rem;left: 0.2rem;
	}
</style>
  </head>

  <body>

    <div id="app" v-cloak>

  <div>
    <!--1.头部帅选-->
    <header style="z-index:997;box-shadow:none;" class="WODELOUPAN mui-bar mui-bar-nav bai header padding0" data-top='0' data-offset='150' data-duration='16' data-scrollby=".mui-scroll-wrapper">
      <ul class="mui-table-view fz23 c666666" style="border-bottom:1px solid rgb(235, 235, 235);">
          <li class="first tap mui-table-view-cell mui-collapse mui-pull-left center" style="width:50%;">
              <a @tap="zzc1($event)" class="mui-navigate-right tap1 fz23  center" :class="{c36c748:zuoitem!=0,jiantou0:zuoitem==0,jiantou1:zuoitem==1,jiantou2:zuoitem==2}" href="#">{{zuoitem==0?'全部類型':(zuoitem==1?'租盤':'售盤')}}</a>
              <div class="mui-collapse-content margint0" >
                  <ul class="mui-table-view list margint0">
                         <li  @tap="type(index)" class="mui-table-view-cell fz27" v-for="(item,index) in zuo">
                            {{item}}
                          </li>
                      </ul>
              </div>
          </li>
          <li class="second tap mui-table-view-cell mui-collapse mui-pull-right center" style="width:50%;">
              <a @tap="zzc2($event)"  class="mui-navigate-right tap2 fz23 center"  href="#"  :class="{c36c748:youitem!=0,jiantou0:youitem==0,jiantou1:youitem==1,jiantou2:youitem==2}" >
              {{youitem==0?'全部狀態':(youitem==1?'審核中':(youitem==2?'已發佈':(youitem==3?'不通過':'已封盤')))}}
              </a>
              <div class="mui-collapse-content margint0 center" >
                  <ul class="mui-table-view list fz27 margint0">
                          <li  @tap="status(index)" class="mui-table-view-cell fz27" v-for="(item,index) in you">
                            {{item}}
                          </li>
                      </ul>
              </div>
                 
          </li>
         
      </ul>
      <span class="border-r jz" style="height:0.3rem;width:0.1rem;"></span>
    </header>
    <!--2.帅选出来的列表内容-->
    <div class="WODELOUPANLIEBIAO">
      <liebiao :datas='datas' :name='name' class="liebiao mescroll"  ref="fengpan" id="mescroll" ></liebiao>
    </div>
    
    <!--遮罩层-->
    <div class="mui-backdrop" v-show="backdrop==true" style="z-index:996;"></div>
    
    <!--点击操作的弹出框-->
<div  @click="tanchukuang=false" v-if="tanchukuang==true" class="wai_kuangs" style="z-index:2000;">
<ul class="bai w497 center radius spjz" style="top:3rem;">
  <li v-show="keep==0||keep==2" @click.stop="gobianji" class="fz33 c000000" :class="{h100:keep==2,h150:keep==0,lh100:keep==2,lh150:keep==0,'border-b':keep==2}">編輯</li>
  <li v-show="keep==1||keep==2" @click.stop="fengpan"  class="fz33 c000000"  :class="{h100:keep==2,h150:keep==1,lh100:keep==2,lh150:keep==1}">封盤</li>
</ul>
</div>

</div>
</div>
<script src="/html/static/vue.min.js"></script>
<script src="/html/static/vconsole.min.js"></script>
<script src="/html/static/mui.min.js"></script>
<script src="/html/templated/liebiao.js"></script>
<script src="/html/static/mescroll.min.js"></script>
<script src="/html/static/vue-lazyload.js"></script>
    <!-- <script src="../../static/vue.min.js"></script>
    <script src="../../static/vconsole.min.js"></script>
    <script src="../../static/mui.min.js"></script>
    <script src="../../templated/liebiao.js"></script>
    <script src="../../static/mescroll.min.js"></script>
    <script src="../../static/vue-lazyload.js"></script> -->
    <script type="text/javascript">
    Vue.use(VueLazyload,{
})
     
      mui.init();
    
    </script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
          xiaolin:[],
         tanchukuang:false,//编辑和封盘的弹出框
        bianjiarray:'',//点击编辑跳去小林的发布房源的租盘或者售盘
        index:-1,//点击的是第几个楼盘
        arrayitem:'',//判断当前是租盘还是售盘 子元素传过来
        keep:-1,//判断是否显示编辑和封盘的哪一个
        
        // page:0,
        // count:'',
        name:'wodeloupan',
        zuoitem:0,//当前选择的类型
        zuo:['全部類型','租盤','售盤'],
        you:['全部狀態','審核中','已發佈','不通過','已封盤'],
        youitem:0,//当前选择的状态
        backdrop:false,
        datas: []

      },
            //在创建vue实例时，引入路由
            //  router: router,
//          store: store,
           components: {
      'liebiao': liebiao
    },
            methods: {
//点击封盘
    fengpan(){
          this.tanchukuang=false
        this.$refs.fengpan.fengpan(this.arrayitem.title,this.index,this.arrayitem.objectId)
    },

    //点击编辑跳去小林的发布房源的租盘或者售盘
    gobianji(){
      var that=this;
      if(that.arrayitem.category=='rent'){
                //我要放租
                  location.href='../lin/rent_index.html?sessiontoken='+sessiontoken+'&objectId='+that.arrayitem.objectId
        
              }else if(that.arrayitem.category=='sell'){
                //我要放售
                console.log(that.arrayitem)
                location.href='../lin/sell_index.html?sessiontoken='+sessiontoken+'&objectId='+that.arrayitem.objectId
              }          
    },
    getBase64(img, lengths, i,data) {
          var that = this
          //传入图片路径，返回base64
          function getBase64Image(img, width, height) { //width、height调用时传入具体像素值，控制大小 ,不传则默认图像大小
            var canvas = document.createElement("canvas");
            canvas.width = width ? width : img.width;
            canvas.height = height ? height : img.height;

            var ctx = canvas.getContext("2d");
            ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
            var dataURL = canvas.toDataURL();

            // 
            console.log('转换为base64')
            that.xiaolin.push(dataURL)
            console.log(that.xiaolin)

 if (i == lengths - 1) {
var space1
if(data.space){
  for(var ii=0;ii<data.space.length;ii++){
    if(isNaN(data.space[ii])){
      // console.log(data.space[i])
   }else{
      if(ii==0){  
        space1='房間:'+data.space[ii]
      }
      if(ii==2){
        space1=space1+',客廳:'+data.space[ii]
      }
      if(ii==4){
        space1=space1+',洗手間:'+data.space[ii]
      }
   }
}
}else{
 space1='房間:1,客廳:0,洗手間:0'
};
// console.log(space1)
var feature1
if(data.features&&data.features.length==0){
  feature1=''
}else{
  feature1=JSON.stringify(data.features).replace(/,/g,'、').replace('[','').replace(']','').replace(/"/g,'')
}
var infrastructure1
if(data.infrastructure&&data.infrastructure.length==0){
  infrastructure1=''
}else{
  infrastructure1=JSON.stringify(data.infrastructure).replace(/,/g,'、').replace('[','').replace(']','').replace(/"/g,'')
}
var home1
if(data.home_infrastructure){
  home1=data.home_infrastructure.replace(/,/g,'、')
}else{
  home1=''
}

var location1
if(data.location_infrastructure){
  location1=data.location_infrastructure.replace(/,/g,'、')

}else{
  location1=''
 } 
   var saveObject = {
    objectId:data.objectId,
    category: that.arrayitem.category,
    type:data.type,
    build_name:data.build_name,
    build_area:data.build_area,
    build_street:data.build_street,
    rent_type:data.rent_type,
    build_status:data.build_status,
    shop_type:data.shop_type,
    pics:that.xiaolin,
    price:data.price,
    space:space1,
    area:data.area,
    useable_area:data.useable_area,
    floor:data.floor,
    code:data.code,
    direct:data.direct,
    landscape:data.landscape,
    decoration:data.decoration,
    cook:data.cook,
    pet: data.pet,
    start_time:data.start_time,
    infrastructure:infrastructure1,
    features:feature1,
    home_infrastructure:home1,
    location_infrastructure:location1,
    contactType:data.contactType,
    contacts:data.contacts,
    phone: data.phone,
    call:data.call,
    remark: data.remark,
    from: data.from
};
console.log(space1)
console.log(saveObject)
  //  return          
             
              // 转完后要存储去app
              setDataxiaolin(saveObject)
                // WebViewJavascriptBridge.callHandler('SetData', {
                //   content_key: 'xiaolin',
                //   content: JSON.stringify(saveObject)
                // });
                console.log(data)
                // return
              if(that.arrayitem.category=='rent'){
                //我要放租
                  location.href='../lin/rent_index.html?sessiontoken='+sessiontoken
        
              }else if(that.arrayitem.category=='sell'){
                //我要放售
                console.log(that.arrayitem)
                location.href='../lin/sell_index.html?sessiontoken='+sessiontoken
              }
            }



          }
          var image = new Image();
          image.crossOrigin = '';
          image.src = img;
          var deferred = $.Deferred();
          if (img) {
            image.onload = function () {
              deferred.resolve(getBase64Image(image)); //将base64传给done上传处理
            }
            return deferred.promise(); //问题要让onload完成后再return sessionStorage['imgTest']
          }


        },
    //点击全部类型
      zzc1(e){
        if($('.first').hasClass('mui-active')){
          this.backdrop=false
        }else{
          this.backdrop=true
        }
      },
      //点击全部状态
      zzc2(e){
        if($('.second').hasClass('mui-active')){
          this.backdrop=false
        }else{
          this.backdrop=true
        }
      },
//全部类型
type(item){
  this.zuoitem=item
  this.backdrop=false
  $('.first').toggleClass('mui-active')
  this.datas=[]
  mescroll.resetUpScroll(); //重新搜索,重置列表数据
},
//全部状态
status(item){
  this.youitem=item
  this.backdrop=false
  $('.second').toggleClass('mui-active')
  this.datas=[]
  mescroll.resetUpScroll(); //重新搜索,重置列表数据
},
refresh(){
      //下拉刷新的回调
      var that=this;
			mescroll = new MeScroll("mescroll", {
				down:{
					auto:false //是否在初始化完毕之后自动执行下拉回调callback; 默认true; 
				},
				up: {
          offset:1000,
					callback:getListData,
					clearEmptyId: "LIST", //1.下拉刷新时会自动先清空此列表,再加入数据; 2.无任何数据时会在此列表自动提示空
          isBounce: false, 
          page: { // 要使用它提供的分页参数， 把分页功能托管给他
                num : 0,
                size : '20',
                time: null
            },
					noMoreSize: 1, //如果列表已无数据,可设置列表的总数量要大于半页才显示无更多数据;避免列表数据过少(比如只有一条数据),显示无更多数据会不好看
					empty: {
						tip: "已顯示全部內容", //提示
					}
				}
			});
			
			
			/*联网加载列表数据  page = {num:1, size:10}; num:当前页 从1开始, size:每页数据条数 */
			function getListData(page){
        if(page.num==1){
                    that.datas=[]
                }     
				getListDataFromNet(page.num,function(curPageData){
					mescroll.endSuccess(curPageData.length);
               //2.成功请求的回调 设置列表数据
          	   /*设置列表数据*/
                // if(page.num==1){
                //     that.datas=[]
                // }       
                for (var i = 0; i <curPageData.length; i++) {
                    that.datas.push(curPageData[i])
                }
			                   
				}, function(){
					//联网失败的回调,隐藏下拉刷新和上拉加载的状态;
	                mescroll.endErr();
				});
			}
						
			/*1.联网加载列表数据
			 * */
			function getListDataFromNet(page,successCallback,errorCallback) {
        var wheredata={}
        if(that.zuoitem!=0){//全部类型不用传字段
          if(that.zuoitem==1){
            wheredata['category']='rent'
          }else if(that.zuoitem==2){
            wheredata['category']='sell'
          }
        }
        // 0=审核中，1=已发布，-1=不通过，-2=已封盘
        if(that.youitem!=0){//全部状态不用传字段
                if(that.youitem==1){
            wheredata['status']='0'//审核中
          }else if(that.youitem==2){
              wheredata['status']='1'//已发布
          }else if(that.youitem==3){
              wheredata['status']='-1'//不通过
          }else if(that.youitem==4){
              wheredata['status']='-2'//已封盘
          }
        }
        wheredata['limit']=limit20
        wheredata['page']=page
        wheredata['sessiontoken']=sessiontoken         
                	$.ajax({
                    type: 'GET',
		                url:Boss + 'user/agent',
                    data: wheredata,
		                dataType: 'json',
		                success: function(dataAll){
                      if(dataAll.status){
                        // 只要成功请求到ture,就有可能是数组有数据或者数组数据为空
                       successCallback(dataAll.result.data);
                     }else{
                       //联网失败的回调,隐藏下拉刷新和上拉加载的状态;
                       mescroll.endErr();
                       mui.toast(dataAll.result.message)
                     }
                    },
                    // 失败就一定是false,有可能是网络原因,也有可能是后台报错
		                error: errorCallback
		            });
			}
     }

        },
        mounted: function() {
            //加载和刷新的插件
         this.refresh()
        }
    })
  </script> 
  </body>

</html>