<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>討論區</title>
    <script typet="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
    <script typet="text/javascript" src="../../static/common.js"></script>

    <link href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <link href="../../static/common.css" rel="stylesheet">
    <link href="../../static/commonS.css" rel="stylesheet">
    <!-- <link href="../../static/imgUp.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="../../static/mui.min.css">
    <link rel="stylesheet" href="../../static/mescroll.min.css">
<style scoped>
/*顶部的轮播图*/
  .xiangqingSlider {
    height: 3.8rem;
    overflow: hidden;
  }
  
  .mui-slider-indicator .mui-active.mui-indicator {
    background: #36c748;
  }
  
  .mui-slider-indicator .mui-indicator {
    background: white;
    opacity: 0.7;
    box-shadow: none;
  }
  
/*下面的列表*/
.mui-fullscreen{position:static !important;}
/*.mui-fullscreen .mui-segmented-control~.mui-slider-group{position:static !important;top:0 !important;}*/
.mui-fullscreen .mui-segmented-control~.mui-slider-group{position:static !important;top:0 !important;transform: none !important;}
#__MUI_PREVIEWIMAGE{position:fixed !important;}
/*讨论区的标题非当前样式*/
.taolunqu .mui-segmented-control.mui-segmented-control-inverted .mui-control-item,.sliderSegmentedControlfixed .mui-control-item {
  color:#000000;
  font-weight:500;
  border-bottom:0.07rem solid #FFFFFF;
}

.taolunquli{padding:0;}
/*标题栏的当前样式*/
.taolunqu .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active,.sliderSegmentedControlfixed .mui-control-item.mui-active{
  color:#36C748 !important;
  border-bottom:0.07rem solid #36C748 !important;
}

#sliderSegmentedControl{padding:0 0.2rem;}
.taolunqu .mui-slider-indicator.mui-segmented-control,.sliderSegmentedControlfixed{background: white;}
.taolunqu .mui-segmented-control.mui-scroll-wrapper,.taolunqu .mui-segmented-control.mui-scroll-wrapper .mui-scroll,.sliderSegmentedControlfixed{height:0.7rem !important;}
/*综合 求盤 时事栏的高度*/
.taolunqu .mui-segmented-control .mui-control-item,.sliderSegmentedControlfixed .mui-control-item{height: 0.7rem;line-height: 0.7rem;}
/*标题栏目的综合 求盤 时事  的外边距*/
.taolunqu .mui-segmented-control.mui-scroll-wrapper .mui-control-item,.sliderSegmentedControlfixed .mui-control-item {padding:0;margin:0 0.2rem;}
/*卡片图 也就是图片列表*/
.taolunqu .mui-card-footer:before{height:0;}
.taolunqu .mui-card-footer{padding:0;min-height: 0.35rem;}
.taolunqu .mui-table-view-cell:after{left:0;}
/*列表图片的张数*/
.onepic{width:5rem;height:5rem;}
.twopic{width:2.45rem;height:2.45rem;}
.pics>.twopic:first-child{margin-right:0.05rem;}
.morepic{width:1.63rem;height:1.63rem;margin-bottom:0.05rem;}
.pics>.morepic:nth-child(2){margin-left:0.05rem;margin-right:0.05rem;}
.pics>.morepic:nth-child(5){margin-left:0.05rem;margin-right:0.05rem;}
.pics>.morepic:nth-child(8){margin-left:0.05rem;margin-right:0.05rem;}
.pics>.morepic:nth-child(11){margin-left:0.05rem;margin-right:0.05rem;}
.fixeds{position:fixed !important;top:0;left:0;z-index:999;display:none;}
.xiangqingSlider img{width:6.4rem;height:3.8rem;}

.taolunqu .mui-card-footer:before,.taolunqu .mui-card-footer:after{height:0;}

.mui-slider-group>.mui-control-content.mui-active{
  display:inline-block !important;
/*opacity: 1;*/
}
.mui-slider-group>.mui-control-content{
  display:none !important;
/*opacity: 0;*/
}

/* 刷新和加载 */
.mescroll{
				position: fixed;
				top: 0 !important;
        bottom: 0;
        /* padding-top:4.5rem !important; */
      }
	/*ios使用sticky样式实现*/
  .nav-sticky{
				z-index: 9999;/*需设置zIndex,避免在悬停时,可能会被列表数据遮住*/
				position: -webkit-sticky !important;
				position: sticky !important;
			    top: 0 !important;/*相对mescroll的div悬停的位置*/
			}
			/*android和pc端悬停*/
			.nav-fixed{
				z-index: 9999;
				position: fixed !important;
				top: 0 !important;
				left: 0;
				width: 100%;
      }
      .downwarp-content{padding-bottom:2rem !important;}
/*.mui-card-footer:after,.mui-card-footer:before{opacity:0;color:red !important;}*/
</style>

  </head>

  <body >

    <div id="app" v-cloak>
<div class="mui-content bgebebeb mescroll" id="mescroll">
  <!--我要发布-->
  <img @click="fabus('woyaofabu')" src="../../assets/img/taolunqu/fabu.png" alt="" style="width:1.09rem;left:0;bottom:0.8rem;z-index:999;" class="fixed"/>
  
  <div id="TAOLUNQU" >
    <!--1.头部轮播图-->
    <div id="wai" class="topbar"  @scroll="scrolls($event)"> 
    <div id="xiangqingSlider" class="mui-slider xiangqingSlider" >
      <div class="mui-slider-group mui-slider-loop" v-if="slideimg.length>0">
        <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
        <div class="mui-slider-item mui-slider-item-duplicate">
          <a @click="go(slideimg[slideimg.length-1].url)" style="width:6.4rem;height:3.8rem;">
            <img :src="slideimg[slideimg.length-1].cover.url">
          </a>
        </div>

        <!-- 第n张 -->
        <div class="mui-slider-item relative" v-for="(item,index) in slideimg" >
          <a @click="go(item.url)"  style="width:6.4rem;height:3.8rem;">
            <img :src="item.cover.url" class="jz" >
          </a>
        </div>
        <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
        <div class="mui-slider-item mui-slider-item-duplicate">
          <a @click="go(slideimg[0].url)"   style="width:6.4rem;height:3.8rem;">
            <img :src="slideimg[0].cover.url" >
          </a>
        </div>
      </div>
      <div class="mui-slider-indicator">
        <div class="mui-indicator"  :class="{'mui-active':index==0}" v-for="(item,index) in slideimg" ></div>
      </div>
    </div>
    
    

<!--讨论区列表-->   
<!--讨论区列表-->    
<div class="h70 bai fz25" id="navWarp"> 
    <ul class="h69 biaotiUL nav bai pL20 pR20 border-b" id="navContent" >
        <li   class="active lf mL20 mR20 h69 relative lh69" i="0" :style="{'color':curNavIndex==0?'#36C748':'#000000'}">綜合
          <span class="spjz B01 w100s h07" :style="{'background':curNavIndex==0?'#36C748':'#ffffff'}"></span>
        </li> 
        <li  class="lf mL20 mR20 h69 relative lh69" i="1" :style="{'color':curNavIndex==1?'#36C748':'#000000'}">求盤
              <span class="spjz B01 w100s h07" :style="{'background':curNavIndex==1?'#36C748':'#ffffff'}"></span>
        </li> 
        <li  class="lf mL20 mR20 h69 relative lh69" i="2" :style="{'color':curNavIndex==2?'#36C748':'#000000'}">時事
                  <span class="spjz B01 w100s h07" :style="{'background':curNavIndex==2?'#36C748':'#ffffff'}"></span>
        </li> 
        <li>
          <a @tap="paixus($event)" class="fz25 c666666 czjz" style="right:0.4rem;">
        排序
        <span class="mui-icon-arrowdown mui-icon exchange"  style="margin-left:0;width:0.2rem;margin-right: 0;border:none;"></span>
      </a>
        </li>
    </ul>  
    
    </div>  

    <div class="relative h71 bai fz25" id="upscrollWarp"> 
        <ul class="mui-table-view data-list"  id="dataList" style>
    
            <li v-if="datas!='no'" class="mui-table-view-cell taolunquli" v-for="(item,index) in datas">
                <ul class="mui-table-view">
               
                    <li class="mui-table-view-cell mui-media padding20">
                        <a href="javascript:;" class="padding0 margin0">
                          <div   @tap="zhezhaocengs(item)" class="mui-media-object mui-pull-left relative center" style="max-width:0.8rem;width:0.8rem;height:1.5rem;margin-right:0.15rem;">
                                <!--个人头像-->
                                <div class="radius50 overflow" style="max-width:0.8rem;width:0.8rem;height:0.8rem;">
                                  <img  :src="item.user.avatar!=undefined&&item.user!=undefined?item.user.avatar.url:'../../assets/img/taolunqu/head.png'" style="width:100%;">
                                </div>
                                   
                                       <img src="../../assets/img/taolunqu/zong.png" alt="" class="spjz" style="margin-top:0.05rem;width:0.3rem;"/>            
                                       <span class="fz23 cff4d00 mui-block spjz" style="height:0.4rem;line-height: 0.4rem;margin-top:0.4rem;">{{item.user.likes}}</span>
                                  
                              
                         
                            </div>
                            <div class="mui-media-body fz23 cff4d00" >
                                       {{(!isNaN(item.user.nickname)==false?item.user.nickname:item.user.nickname.substring(0,2)+'****'+item.user.nickname.substring(item.user.nickname.length,item.user.nickname.length-2))}}
                                <p @tap="xiangqing(item.objectId)" :class="{pL55:item.tag!='綜合'}" class="mui-ellipsis fz30 c000000 relative bold" style="height:0.5rem;line-height:0.5rem;">
                                  <button v-if="item.tag!='綜合'" type="button" class="mui-btn mui-btn-green czjz" style="font-size: 0.21rem;left:0rem;">{{item.tag}}
                                  </button>
                                  {{item.title}}
                                  
                                </p>
                                <p @tap="xiangqing(item.objectId)" class="mui-ellipsis-2 fz25 c888888" style="margin-top:0.1rem;">{{item.content}}</p>
                           <div  style="margin:0.15rem 0 0 0;">
                          <!--列表大图-->
                          <div class="mui-card-content" >
                            <ul class="overflow pics" >
                              <li class="mui-pull-left overflow" v-for="(pic,idx) in item.pics" :class="{onepic:item.pics.length==1,twopic:item.pics.length==2,morepic:item.pics.length>2}">
                                <img  :src="item.pics.length==1?pic.url+imageView1:(item.pics.length==2?pic.url+imageView2:pic.url+imageView3)" alt=""  :data-preview-src="pic.url+imageView" :data-preview-group="'1'+index" />
                              </li>
                            </ul>
                            
                          </div>
                          <!--页脚，放置补充信息或支持的操作-->
                          <div class="mui-card-footer fz21 c666666"  @tap="xiangqing(item.objectId)" >
                            <span>{{item.createdAt}}</span>
                            
                            <span >
                              <img :src="item.isgood==0?'../../assets/img/taolunqu/zan.png':'../../assets/img/taolunqu/liebiaozan.png'"  alt="" style="width:0.3rem;top:0.05rem;" class="relative"/>
                                <span class="fz25" :class="{c666666:item.isgood==0,c36c748:item.isgood==1}">{{item.goods}}</span>
                            </span>
                            <span >
                               <img :src="item.iscomment==0?'../../assets/img/taolunqu/reply.png':'../../assets/img/taolunqu/replylv.png'" alt="" style="width:0.3rem;top:0.05rem;" class="relative"/>
                               <span class="fz25"  :class="{c666666:item.iscomment==0,c36c748:item.iscomment==1}">{{item.comments}}</span>
                            </span>
                            
                          </div>
                        </div>
                            </div>
                        </a>
                    </li>
                   
                </ul>
              </li>
            </ul>
      </div>


</div>      
</div>  


<!--弹出框个人资料-->
  <div class="mui-backdrop" v-if="zhezhaoceng==true">
    <div class="radius bai jz" style="width:6rem;height:5.23rem;padding:0.7rem 0.25rem;">
       <img @click="closes()" src="../../assets/img/taolunqu/close.png" alt="" class="absolute" style="width:0.52rem;top:0.25rem;right:0.25rem;"/>
       <div style="height:1.64rem;width:1.64rem;" class="radius50 overflow center margin">
               <img :src="zhezhaocengItem.user.avatar!=undefined&&zhezhaocengItem.user!=undefined?zhezhaocengItem.user.avatar.url:'../../assets/img/taolunqu/head.png'"  alt=""  style="width:1.64rem;"/>
       </div>
       <p class="fz30 c000000 center" style="margin:0.27rem 0 0.15rem 0;">
         {{(!isNaN(zhezhaocengItem.user.nickname)==false?zhezhaocengItem.user.nickname:zhezhaocengItem.user.nickname.substring(0,2)+'****'+zhezhaocengItem.user.nickname.substring(zhezhaocengItem.user.nickname.length,zhezhaocengItem.user.nickname.length-2))}}
       </p>
       <p class="fz25 c888888 center">
        <img src="../../assets/img/xiangqing/phone_gx.png" alt="" style="width:0.2rem;"/>
        手機號碼已驗證
       </p>
      <ul class="overflow fz23 c888888" style="margin-top:0.4rem;">
        <li class="mui-pull-left center border-r" style="width:50%;">
          <p>註冊時間</p>
          <img src="../../assets/img/taolunqu/time.png" alt="" style="width:0.23rem;top:0.05rem;" class="relative"/> 
          <span class="fz25 c888888">{{zhezhaocengItem.user.createdAt.substring(0,10)}}</span>    
        </li>
        <li class="mui-pull-right center" style="width:50%;">
          <p>總讃數</p>
          <img src="../../assets/img/taolunqu/zong.png" alt="" style="width:0.23rem;top:0.05rem;" class="relative"/> 
          <span class="fz25 cff4d00">{{zhezhaocengItem.user.likes}}</span>    
        </li>
      </ul>

    </div>
  </div>
</div>        
 


<!--排序框-->
<div id="paixu" class="mui-popover mui-popover-bottom mui-popover-action" >
    <!-- 可选择菜单 -->
    <ul class="mui-table-view fz27 c000000 " style="border-radius: 0.2rem;">
      <li @click="paixuClick(1,'default')" class="mui-table-view-cell">
        <a href="#">默認排序</a>
      </li>
      <li  @click="paixuClick(2,'feedback')" class="mui-table-view-cell">
        <a href="#">回復時間排序</a>
      </li>
       <li  @click="paixuClick(3,'createdAt')" class="mui-table-view-cell">
        <a href="#">發帖時間排序</a>
      </li>
    </ul>
    <!-- 取消菜单 -->
    <ul class="mui-table-view fz27 c000000 " style="border-radius: 0.2rem;">
      <li class="mui-table-view-cell">
        <a href="#sheet1" @click="quxiao"><b>取消</b></a>
      </li>
    </ul>
</div>
</div>

   <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="../../static/vconsole.min.js"></script>
    <script src="../../static/mui.min.js"></script>
    <!-- <script src="items1.js"></script>
    <script src="items2.js"></script>
    <script src="items3.js"></script> -->
    <script src="../../static/mui.zoom.js"></script>
    <script src="../../static/mui.previewimage.js"></script>
    <script src="../../static/mescroll.min.js"></script>

    <script type="text/javascript">
      // 初始化previewImage
      mui.previewImage();
      mui.init();
      // var pdType=0;
      var mescroll;
    </script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
        curNavIndex:0,
        who1:0,
        who2:1,
        who3:2,
         imageView1:'?imageView2/1/w/'+parseInt(500*w0)+'/h/'+parseInt(500*w0),
        imageView2:'?imageView2/1/w/'+parseInt(245*w0)+'/h/'+parseInt(245*w0),
        imageView3:'?imageView2/1/w/'+parseInt(163*w0)+'/h/'+parseInt(163*w0),
        imageView:'',
        bb:'',
        paixu1:'default',//综合记录的排序方式
        paixu2:'default',//求盤记录的排序方式
        paixu3:'default',//时事记录的排序方式
//默認排序: default, 回復時間排序: feedback 發帖時間排序: createdAt 熱門排序: hot 精品帖: recommend
        // datasIdx:1,
        zhezhaoceng:false,//个人头像弹出框
        zhezhaocengItem:[],//个人头像的信息
        datas1:'no',//综合的
        datas2:'no',//求盤
        datas3:'no',//时事
        datas:[],//
        
        //轮播图图片
        slideimg: [
        ],

      },
      // components:{'items1':items1,'items2':items2,'items3':items3},
           methods: {
              //禁止轮播左右滑动
      sliders(e){
          this.datasIdx=e.detail.slideNumber+1
      },
      //我要发布
      fabus(name){
        if(sessiontoken){
          location.href='../woyaofabu/woyaofabu.html?sessiontoken='+sessiontoken
        //   if(isAPP){
        //   locationClick(name)
        // }else{
        //   this.$router.push({name:name})
        // }
          
        }else{
          //登录提示框
          mui.toast('請先到【我的】登入')
        }
        
      },
      go(src){
        location.href=src
      },
     
      //个人资料弹出框
      zhezhaocengs(item){
        this.zhezhaocengItem=item
        this.zhezhaoceng=true
      },
      scrolls(e){
        return
        var top=$(".aaa").offset().top
//               console.log($(".aaa").offset().top)
                 if(top>0){
                    $('.sliderSegmentedControlfixed').css({'display':'none'}) 
                 }else{
                  $('.sliderSegmentedControlfixed').css({'display':'block'})
                 }

      },
        //点击关闭个人资料弹出框的叉子
        closes(){
          this.zhezhaoceng=false
        },
        //排序框
        paixus(e){
          //传入toggle参数，用户无需关心当前是显示还是隐藏状态，mui会自动识别处理；
//        $('.exchange').toggleClass('mui-icon-arrowdown')
//          $('.exchange').toggleClass('mui-icon-arrowup')
             mui('#paixu').popover('toggle');
        },
        //三种排序方式的点击按钮
          paixuClick(number,paixu){
            if(this.curNavIndex==0){
              this.paixu1=paixu
              // this.page1=0
              this.datas1=[]
            }else if(this.curNavIndex==1){
              this.paixu2=paixu
              // this.page2=0
              this.datas2=[]
            }else if(this.curNavIndex==2){
              this.paixu3=paixu
              // this.page3=0
              this.datas3=[]
            }
          //传入toggle参数，用户无需关心当前是显示还是隐藏状态，mui会自动识别处理；
             mui('#paixu').popover('toggle');
              // this.refresh()
              mescroll.resetUpScroll(); //重新搜索,重置列表数据
        },
        //取消按钮
          quxiao(){
          //传入toggle参数，用户无需关心当前是显示还是隐藏状态，mui会自动识别处理；
//        $('.exchange').toggleClass('mui-icon-arrowdown')
//          $('.exchange').toggleClass('mui-icon-arrowup')
             mui('#paixu').popover('toggle');
        },
        //点击题目和描述跳到对应的讨论区详情
        xiangqing(objectId){
//        alert(33)
location.href='taolunquXq.html?objectId='+objectId+'&sessiontoken='+sessiontoken
        //        if(isAPP){
        //   locationClick('taolunquXq/'+objectId)
        // }else{
        //   this.$router.push({name:'taolunquXq',params:{objectId:objectId}})
        // }
          
        },
        refresh(){
          var that=this;
	//创建MeScroll对象,内部已默认开启下拉刷新,自动执行up.callback,刷新列表数据;
 mescroll = new MeScroll("mescroll", {
				up: {
					callback: getListData, //上拉回调,此处可简写; 相当于 callback: function (page, mescroll) { getListData(page); }
          isBounce: false, //此处禁止ios回弹,解析(务必认真阅读,特别是最后一点): http://www.mescroll.com/qa.html#q10
          clearEmptyId:'dataList', //相当于同时设置了clearId和empty.warpId; 简化写法;
					// clearEmptyId:that.curNavIndex==0?'dataList1':(that.curNavIndex==1?'dataList2':'dataList3'), //相当于同时设置了clearId和empty.warpId; 简化写法;
          warpId:'upscrollWarp',//that.curNavIndex==0?'upscrollWarp1':(that.curNavIndex==1?'upscrollWarp2':'upscrollWarp3')  //让上拉进度装到upscrollWarp里面
          toTop:{ //配置回到顶部按钮
						src : "mescroll-totop.png", //默认滚动到1000px显示,可配置offset修改
						//offset : 1000
					}
				}
			});
      var navWarp=document.getElementById("navWarp");
			if(mescroll.os.ios){
				//ios的悬停效果,通过给navWarp添加nav-sticky样式来实现
				navWarp.classList.add("nav-sticky");
			}else{
				//android和pc端悬停效果,通过监听mescroll的scroll事件,控制navContent是否为fixed定位来实现
				navWarp.style.height="0.7rem";//固定高度占位,避免悬浮时列表抖动
				var navContent=document.getElementById("navContent");
				mescroll.optUp.onScroll=function(mescroll, y, isUp){
					console.log("up --> onScroll 列表当前滚动的距离 y = " + y + ", 是否向上滑动 isUp = " + isUp);
					if(y>=navWarp.offsetTop){
						navContent.classList.add("nav-fixed");
					}else{
						navContent.classList.remove("nav-fixed");
					}
				}
			}
			// var navWarp=document.getElementById("navWarp");
			// if(mescroll.os.ios){
      //   console.log('苹果')
			// 	//ios的悬停效果,通过给navWarp添加nav-sticky样式来实现
			// 	navWarp.classList.add("nav-sticky");
			// }else{
      //   console.log('安卓')
			// 	//android和pc端悬停效果,通过监听mescroll的scroll事件,控制navContent是否为fixed定位来实现
			// 	navWarp.style.height=navWarp.offsetHeight+"px";//固定高度占位,避免悬浮时列表抖动
			// 	var navContent=document.getElementById("navContent");
			// 	mescroll.optUp.onScroll=function(mescroll, y, isUp){
			// 		console.log("up --> onScroll 列表当前滚动的距离 y = " + y + ", 是否向上滑动 isUp = " + isUp);
			// 		if(y>=navWarp.offsetTop){
      //       navContent.classList.add("nav-fixed");
            
			// 		}else{
			// 			navContent.classList.remove("nav-fixed");
			// 		}
			// 	}
			// }
			
			/*初始化菜单*/
			//全部商品0; 奶粉1; 图书2;
			$(".nav>li").click(function(){
        // alert(1)
       
        var i=$(this).attr("i");
        console.log(i,that.curNavIndex)
				if(that.curNavIndex!=i) {
					//更改列表条件
          that.curNavIndex=i;
          
					//变色
					$(".nav>li").each(function(i,dom){
						if(dom.getAttribute("i")==that.curNavIndex){
							dom.classList.add("active");
						}else{
							dom.classList.remove("active");
						}
					})
					/*调整upscrollWarp的最小高度,使其刚好满屏,避免点击悬浮菜单时会滑下来;(这里每次点击都计算一次,毕竟轮播图高度改变或未能显示图都会影响计算的值)*/
          var minHight = mescroll.getClientHeight() - navWarp.offsetHeight;
          // var warpIds=that.curNavIndex==0?'upscrollWarp1':(that.curNavIndex==1?'upscrollWarp2':'upscrollWarp3') 
          document.getElementById('upscrollWarp').style.minHeight = minHight+"px";
          
          //重置列表数据
          console.log(i,that.datas1,that.datas2,that.datas3)
          if((i==0&&that.datas1=='no')||(i==1&&that.datas2=='no')||(i==2&&that.datas3=='no')){
            console.log('初始化')
            mescroll.resetUpScroll();
          }else{
            mescroll.resetUpScroll();
            // console.log('直接赋值')
            // console.log(i)
            // if(i==0){
            //   console.log('直接赋值0')
            //   // that.datas=that.datas1
            //   setListData(that.datas1,0)
            // }else if(i==1){
            //   console.log('直接赋值1')
            //   // that.datas=that.datas2
            //   setListData(that.datas2,1)
            // }else if(i==2){
            //   console.log('直接赋值2')
            //   // that.datas=that.datas3
            //   setListData(that.datas3,2)
            // }
            // console.log(':::::'+that.datas)
            // console.log(that.datas)
          }
					
				}
			})
			
			/*联网加载列表数据  page = {num:1, size:10}; num:当前页 从1开始, size:每页数据条数 */
			function getListData(page){
				//联网加载数据
				getListDataFromNet(that.curNavIndex, page.num, page.size, function(curPageData){
					//联网成功的回调,隐藏下拉刷新和上拉加载的状态;
					//mescroll会根据传的参数,自动判断列表如果无任何数据,则提示空;列表无下一页数据,则提示无更多数据;
				
					mescroll.endSuccess(curPageData.length);
					
					//设置列表数据
					setListData(curPageData,that.curNavIndex);
				}, function(){
					//联网失败的回调,隐藏下拉刷新和上拉加载的状态;
	                mescroll.endErr();
				});
			}
			
			/*设置列表数据*/
			function setListData(curPageData,curNavIndex){
                  if(curNavIndex==0&&that.datas1=='no'){
                    that.datas1=[]
                  }
                  if(curNavIndex==1&&that.datas2=='no'){
                    that.datas2=[]
                  }
                 if(curNavIndex==2&&that.datas3=='no'){
                    that.datas3=[]
                  }

        for (var i = 0; i <curPageData.length; i++) {
                if(curNavIndex==0){
                  that.datas1.push(curPageData[i])         
                }else if(curNavIndex==1){
                  that.datas2.push(curPageData[i])
                }else if(curNavIndex==2){
                  that.datas3.push(curPageData[i])
                }
                that.datas.push(curPageData[i])
               
            }
				}
			
			
			/*联网加载列表数据
			 在您的实际项目中,请参考官方写法: http://www.mescroll.com/api.html#tagUpCallback
			 请忽略getListDataFromNet的逻辑,这里仅仅是在本地模拟分页数据,本地演示用
			 实际项目以您服务器接口返回的数据为准,无需本地处理分页.
			 * */
       function getListDataFromNet(curNavIndex,pageNum,pageSize,successCallback,errorCallback) {
				//延时一秒,模拟联网
                // setTimeout(function () {
                  var tag=(curNavIndex==0?'':(curNavIndex==1?'求盤':'時事'))
                  var sort=(curNavIndex==0?that.paixu1:(curNavIndex==1?that.paixu2:that.paixu3))

                	$.ajax({
		                type: 'GET',
		                url: Boss+'discuss',
                    data:{
                      tag:tag,
                      sort:sort,
                      page:pageNum,
                      limit:limit20,
                      sessiontoken:sessiontoken
                    },
		                success: function(data){
		                
		                	  //回调
                        that.slideimg=data.result.slider
                      //获得slider插件对象
                      setTimeout(function(){
                        var gallery = mui('.xiangqingSlider');
                        gallery.slider({
                          interval: 3000 //自动轮播周期，若为0则不自动播放，默认为0；
                        });
                      },100)
		                	successCallback(data.result.data);
		                },
		                error: errorCallback
		            });
                // },500)
			}
        }
     
       
    },
    mounted() {
//调用刷新和加载
this.refresh()

      
    }

    })

  </script> 





  </body>

</html>