<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>討論區</title>
    <script typet="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script>
    <script typet="text/javascript" src="../../static/common.js"></script>

    <link href="https://cdn.bootcss.com/Swiper/3.4.2/css/swiper.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/Swiper/3.4.2/js/swiper.jquery.min.js"></script>
    <link href="../../static/common.css" rel="stylesheet">
    <link href="../../static/commonS.css" rel="stylesheet">
    <!-- <link href="../../static/imgUp.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="../../static/mui.min.css">
<style scoped>
/*顶部的轮播图*/
  .xiangqingSlider {
    height: 3.8rem;
    overflow: hidden;
  }
  
  .mui-slider-indicator .mui-active.mui-indicator {
    background: #36c748;
  }
  
  .mui-slider-indicator .mui-indicator {
    background: white;
    opacity: 0.7;
    box-shadow: none;
  }
  
/*下面的列表*/
.mui-fullscreen{position:static !important;}
/*.mui-fullscreen .mui-segmented-control~.mui-slider-group{position:static !important;top:0 !important;}*/
.mui-fullscreen .mui-segmented-control~.mui-slider-group{position:static !important;top:0 !important;transform: none !important;}
#__MUI_PREVIEWIMAGE{position:fixed !important;}
/*讨论区的标题非当前样式*/
.taolunqu .mui-segmented-control.mui-segmented-control-inverted .mui-control-item,.sliderSegmentedControlfixed .mui-control-item {
  color:#000000;
  font-weight:500;
  border-bottom:0.07rem solid #FFFFFF;
}

.taolunquli{padding:0;}
/*标题栏的当前样式*/
.taolunqu .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active,.sliderSegmentedControlfixed .mui-control-item.mui-active{
  color:#36C748 !important;
  border-bottom:0.07rem solid #36C748 !important;
}

#sliderSegmentedControl{padding:0 0.2rem;}
.taolunqu .mui-slider-indicator.mui-segmented-control,.sliderSegmentedControlfixed{background: white;}
.taolunqu .mui-segmented-control.mui-scroll-wrapper,.taolunqu .mui-segmented-control.mui-scroll-wrapper .mui-scroll,.sliderSegmentedControlfixed{height:0.7rem !important;}
/*综合 求盤 时事栏的高度*/
.taolunqu .mui-segmented-control .mui-control-item,.sliderSegmentedControlfixed .mui-control-item{height: 0.7rem;line-height: 0.7rem;}
/*标题栏目的综合 求盤 时事  的外边距*/
.taolunqu .mui-segmented-control.mui-scroll-wrapper .mui-control-item,.sliderSegmentedControlfixed .mui-control-item {padding:0;margin:0 0.2rem;}
/*卡片图 也就是图片列表*/
.taolunqu .mui-card-footer:before{height:0;}
.taolunqu .mui-card-footer{padding:0;min-height: 0.35rem;}
.taolunqu .mui-table-view-cell:after{left:0;}
/*列表图片的张数*/
.onepic{width:5rem;height:5rem;}
.twopic{width:2.45rem;height:2.45rem;}
.pics>.twopic:first-child{margin-right:0.05rem;}
.morepic{width:1.63rem;height:1.63rem;margin-bottom:0.05rem;}
.pics>.morepic:nth-child(2){margin-left:0.05rem;margin-right:0.05rem;}
.pics>.morepic:nth-child(5){margin-left:0.05rem;margin-right:0.05rem;}
.pics>.morepic:nth-child(8){margin-left:0.05rem;margin-right:0.05rem;}
.pics>.morepic:nth-child(11){margin-left:0.05rem;margin-right:0.05rem;}
.fixeds{position:fixed !important;top:0;left:0;z-index:999;display:none;}
.xiangqingSlider img{width:6.4rem;height:3.8rem;}

.taolunqu .mui-card-footer:before,.taolunqu .mui-card-footer:after{height:0;}

.mui-slider-group>.mui-control-content.mui-active{
  display:inline-block !important;
/*opacity: 1;*/
}
.mui-slider-group>.mui-control-content{
  display:none !important;
/*opacity: 0;*/
}
/*.mui-card-footer:after,.mui-card-footer:before{opacity:0;color:red !important;}*/
</style>

  </head>

  <body >

    <div id="app" v-cloak>
<div class="mui-content bgebebeb fixbody" >
  <!--我要发布-->
  <img @click="fabus('woyaofabu')" src="../../assets/img/taolunqu/fabu.png" alt="" style="width:1.09rem;left:0;bottom:0.8rem;z-index:999;" class="fixed"/>
  
  <div id="TAOLUNQU" class="mui-scroll-wrapper">
    <!--1.头部轮播图-->
    <div id="wai" class="mui-scroll topbar"  @scroll="scrolls($event)"> 
    <div id="xiangqingSlider" class="mui-slider xiangqingSlider">
      <div class="mui-slider-group mui-slider-loop" v-if="slideimg.length>0">
        <!-- 额外增加的一个节点(循环轮播：第一个节点是最后一张轮播) -->
        <div class="mui-slider-item mui-slider-item-duplicate">
          <a @click="go(slideimg[slideimg.length-1].url)" style="width:6.4rem;height:3.8rem;">
            <img :src="slideimg[slideimg.length-1].cover.url">
          </a>
        </div>

        <!-- 第n张 -->
        <div class="mui-slider-item relative" v-for="(item,index) in slideimg" >
          <a @click="go(item.url)"  style="width:6.4rem;height:3.8rem;">
            <img :src="item.cover.url" class="jz" >
          </a>
        </div>
        <!-- 额外增加的一个节点(循环轮播：最后一个节点是第一张轮播) -->
        <div class="mui-slider-item mui-slider-item-duplicate">
          <a @click="go(slideimg[0].url)"   style="width:6.4rem;height:3.8rem;">
            <img :src="slideimg[0].cover.url" >
          </a>
        </div>
      </div>
      <div class="mui-slider-indicator">
        <div class="mui-indicator"  :class="{'mui-active':index==0}" v-for="(item,index) in slideimg" ></div>
      </div>
    </div>
    
    
    
<!--讨论区列表-->    

      <div id="slider"  @slide='sliders($event)'   class="mui-slider stoptapscroll mui-fullscreen taolunqu" >
        
        <div id="sliderSegmentedControl" class="aaa mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted">
          <div class="mui-scroll fz25" >
            <a @tap="qiehuan(1)" class="mui-control-item" :class="{'mui-active':datasIdx==1}" data-index='1' href="#item1mobile">
              綜合
            </a>
            <a @tap="qiehuan(2)" class="mui-control-item" :class="{'mui-active':datasIdx==2}" data-index='2' href="#item2mobile">
               求盤
            </a>
            <a @tap="qiehuan(3)" class="mui-control-item" :class="{'mui-active':datasIdx==3}" data-index='3' href="#item3mobile">
               時事
            </a>
            
          
          </div>
              <a @tap="paixus($event)" class="fz25 c666666 czjz" style="right:0.4rem;">
               排序
               <span class="mui-icon-arrowdown mui-icon exchange"  style="margin-left:0;width:0.2rem;margin-right: 0;border:none;"></span>
            </a>
        </div>
        <div class="mui-slider-group">
<!--1.综合  class="mui-scroll-wrapper" class="mui-scroll"-->
          <div id="item1mobile" class="border-t border-b mui-slider-item mui-control-content mui-active">
            <div id="scroll1" >
              <div >
                <ul class="mui-table-view"  >
                <li class="mui-table-view-cell taolunquli" v-for="(item,index) in datas1">
                    <ul class="mui-table-view">
                        <li class="mui-table-view-cell mui-media padding20">
                            <a href="javascript:;" class="padding0 margin0">
                              <div   @tap="zhezhaocengs(item)" class="mui-media-object mui-pull-left relative center" style="max-width:0.8rem;width:0.8rem;height:1.5rem;margin-right:0.15rem;">
                                    <!--个人头像-->
                                    <div class="radius50 overflow" style="max-width:0.8rem;width:0.8rem;height:0.8rem;">
                                      <img  :src="item.user.avatar!=undefined&&item.user!=undefined?item.user.avatar.url:'../../assets/img/taolunqu/head.png'" style="width:100%;">
                                    </div>
                                       
                                           <img src="../../assets/img/taolunqu/zong.png" alt="" class="spjz" style="margin-top:0.05rem;width:0.3rem;"/>            
                                           <span class="fz23 cff4d00 mui-block spjz" style="height:0.4rem;line-height: 0.4rem;margin-top:0.4rem;">{{item.user.likes}}</span>
                                      
                                  
                             
                                </div>
                                <div class="mui-media-body fz23 cff4d00" >
                                           {{(!isNaN(item.user.nickname)==false?item.user.nickname:item.user.nickname.substring(0,2)+'****'+item.user.nickname.substring(item.user.nickname.length,item.user.nickname.length-2))}}
                                    <p @tap="xiangqing(item.objectId)" :class="{pL55:item.tag!='綜合'}" class="mui-ellipsis fz30 c000000 relative bold" style="height:0.5rem;line-height:0.5rem;">
                                      <button v-if="item.tag!='綜合'" type="button" class="mui-btn mui-btn-green czjz" style="font-size: 0.21rem;left:0rem;">{{item.tag}}
                                      </button>
                                      {{item.title}}
                                      
                                    </p>
                                    <p @tap="xiangqing(item.objectId)" class="mui-ellipsis-2 fz25 c888888" style="margin-top:0.1rem;">{{item.content}}</p>
                               <div  style="margin:0.15rem 0 0 0;">
                              <!--列表大图-->
                              <div class="mui-card-content" >
                                <ul class="overflow pics" >
                                  <li class="mui-pull-left overflow" v-for="(pic,idx) in item.pics" :class="{onepic:item.pics.length==1,twopic:item.pics.length==2,morepic:item.pics.length>2}">
                                    <img  :src="item.pics.length==1?pic.url+imageView1:(item.pics.length==2?pic.url+imageView2:pic.url+imageView3)" alt=""  :data-preview-src="pic.url+imageView" :data-preview-group="'1'+index" />
                                  </li>
                                </ul>
                                
                              </div>
                              <!--页脚，放置补充信息或支持的操作-->
                              <div class="mui-card-footer fz21 c666666"  @tap="xiangqing(item.objectId)" >
                                <span>{{item.createdAt}}</span>
                                
                                <span >
                                  <img :src="item.isgood==0?'../../assets/img/taolunqu/zan.png':'../../assets/img/taolunqu/liebiaozan.png'"  alt="" style="width:0.3rem;top:0.05rem;" class="relative"/>
                                    <span class="fz25" :class="{c666666:item.isgood==0,c36c748:item.isgood==1}">{{item.goods}}</span>
                                </span>
                                <span >
                                   <img :src="item.iscomment==0?'../../assets/img/taolunqu/reply.png':'../../assets/img/taolunqu/replylv.png'" alt="" style="width:0.3rem;top:0.05rem;" class="relative"/>
                                   <span class="fz25"  :class="{c666666:item.iscomment==0,c36c748:item.iscomment==1}">{{item.comments}}</span>
                                </span>
                                
                              </div>
                            </div>
                                </div>
                            </a>
                        </li>
                       
                    </ul>
                  </li>
                </ul>
              </div>
            </div>
          </div>
<!--2.求盤  mui-scroll-wrapper mui-scroll-->          
          <div id="item2mobile" class="border-t border-b mui-slider-item mui-control-content">
            <div class="">
              <div class="">
                <ul class="mui-table-view">
                  <li class="mui-table-view-cell taolunquli" v-for="(item,index) in datas2">
                    <ul class="mui-table-view">
                        <li class="mui-table-view-cell mui-media padding20">
                           <a href="javascript:;" class="padding0 margin0">
                              <div   @tap="zhezhaocengs(item)" class="mui-media-object mui-pull-left relative center" style="max-width:0.8rem;width:0.8rem;height:1.5rem;margin-right:0.15rem;">
                                    <!--个人头像-->
                                    <div class="radius50 overflow" style="max-width:0.8rem;width:0.8rem;height:0.8rem;">
                                      <img :src="item.user.avatar!=undefined&&item.user!=undefined?item.user.avatar.url:'../../assets/img/taolunqu/head.png'" style="width:100%;">
                                    </div>
                                       
                                           <img src="../../assets/img/taolunqu/zong.png" alt="" class="spjz" style="margin-top:0.05rem;width:0.3rem;"/>            
                                           <span class="fz23 cff4d00 mui-block spjz" style="height:0.4rem;line-height: 0.4rem;margin-top:0.4rem;">{{item.user.likes}}</span>
                                      
                                  
                             
                                </div>
                                <div class="mui-media-body fz23 cff4d00">
                                          {{(!isNaN(item.user.nickname)==false?item.user.nickname:item.user.nickname.substring(0,2)+'****'+item.user.nickname.substring(item.user.nickname.length,item.user.nickname.length-2))}}
                                    <p @tap="xiangqing(item.objectId)" class="mui-ellipsis fz30 c000000 relative bold" style="padding-left:0.55rem;height:0.5rem;line-height:0.5rem;">
                                      <button type="button" class="mui-btn mui-btn-green czjz" style="font-size: 0.21rem;left:0rem;">{{item.tag}}
                                      </button>
                                      {{item.title}}
                                      
                                    </p>
                                    <p @tap="xiangqing(item.objectId)" class="mui-ellipsis-2 fz25 c888888">{{item.content}}</p>
                               <div  style="margin:0.15rem 0 0 0;">
                              <!--列表大图-->
                              <div class="mui-card-content">
                                <ul class="overflow pics" >
                                  <li class="mui-pull-left overflow" v-for="(pic,idx) in item.pics" :class="{onepic:item.pics.length==1,twopic:item.pics.length==2,morepic:item.pics.length>2}">
                                     <img  :src="item.pics.length==1?pic.url+imageView1:(item.pics.length==2?pic.url+imageView2:pic.url+imageView3)" alt=""  :data-preview-src="pic.url+imageView" :data-preview-group="'2'+index" />
                                  </li>
                                </ul>
                                
                              </div>
                              <!--页脚，放置补充信息或支持的操作-->
                              <div class="mui-card-footer fz21 c666666" @tap="xiangqing(item.objectId)" >
                                <span>{{item.createdAt}}</span>
                                
                                <span >
                                  <img src="../../assets/img/taolunqu/zan.png"  alt="" style="width:0.3rem;top:0.05rem;" class="relative"/>
                                    <span class="fz25 c666666">{{item.goods}}</span>
                                </span>
                                <span >
                                   <img src="../../assets/img/taolunqu/reply.png" alt="" style="width:0.3rem;top:0.05rem;" class="relative"/>
                                   <span class="fz25 c666666">{{item.comments}}</span>
                                </span>
                                
                              </div>
                            </div>
                                </div>
                            </a>
                        </li>
                       
                    </ul>
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>
<!--3.时事  mui-scroll-wrapper mui-scroll-->          
          <div id="item3mobile" class="border-t border-b mui-slider-item mui-control-content">
            <div class="">
              <div class="">
                <ul class="mui-table-view">
                  <li class="mui-table-view-cell taolunquli" v-for="(item,index) in datas3">
                    <ul class="mui-table-view">
                        <li class="mui-table-view-cell mui-media padding20">
                            <a href="javascript:;" class="padding0 margin0">
                              <div   @tap="zhezhaocengs(item)" class="mui-media-object mui-pull-left relative center" style="max-width:0.8rem;width:0.8rem;height:1.5rem;margin-right:0.15rem;">
                                    <!--个人头像-->
                                    <div class="radius50 overflow" style="max-width:0.8rem;width:0.8rem;height:0.8rem;">
                                      <img :src="item.user.avatar!=undefined&&item.user!=undefined?item.user.avatar.url:'../../assets/img/taolunqu/head.png'" style="width:100%;">
                                    </div>
                                       
                                           <img src="../../assets/img/taolunqu/zong.png" alt="" class="spjz" style="margin-top:0.05rem;width:0.3rem;"/>            
                                           <span class="fz23 cff4d00 mui-block spjz" style="height:0.4rem;line-height: 0.4rem;margin-top:0.4rem;">{{item.user.likes}}</span>
                                      
                                  
                             
                                </div>
                                <div class="mui-media-body fz23 cff4d00">
                                            {{(!isNaN(item.user.nickname)==false?item.user.nickname:item.user.nickname.substring(0,2)+'****'+item.user.nickname.substring(item.user.nickname.length,item.user.nickname.length-2))}}
                                    <p @tap="xiangqing(item.objectId)" class="mui-ellipsis fz30 c000000 relative bold" style="padding-left:0.55rem;height:0.5rem;line-height:0.5rem;">
                                      <button type="button" class="mui-btn mui-btn-green czjz" style="font-size: 0.21rem;left:0rem;">{{item.tag}}
                                      </button>
                                      {{item.title}}
                                      
                                    </p>
                                    <p @tap="xiangqing(item.objectId)" class="mui-ellipsis-2 fz25 c888888">{{item.content}}</p>
                               <div  style="margin:0.15rem 0 0 0;">
                              <!--列表大图-->
                              <div class="mui-card-content">
                                <ul class="overflow pics" >
                                  <li class="mui-pull-left overflow" v-for="(pic,idx) in item.pics" :class="{onepic:item.pics.length==1,twopic:item.pics.length==2,morepic:item.pics.length>2}">
                           <!--          <img  :src="pic.url" alt=""  data-preview-src="pic.url" :data-preview-group="'3'+index" style="min-width:100%;min-height:100%;"/> -->
                                     <img  :src="item.pics.length==1?pic.url+imageView1:(item.pics.length==2?pic.url+imageView2:pic.url+imageView3)" alt=""  :data-preview-src="pic.url+imageView" :data-preview-group="'3'+index" />
                                  </li>
                                </ul>
                                
                              </div>
                              <!--页脚，放置补充信息或支持的操作-->
                              <div class="mui-card-footer fz21 c666666" @tap="xiangqing(item.objectId)" >
                                <span>{{item.createdAt}}</span>
                                
                                <span >
                                  <img src="../../assets/img/taolunqu/zan.png"  alt="" style="width:0.3rem;top:0.05rem;" class="relative"/>
                                    <span class="fz25 c666666">{{item.goods}}</span>
                                </span>
                                <span >
                                   <img src="../../assets/img/taolunqu/reply.png" alt="" style="width:0.3rem;top:0.05rem;" class="relative"/>
                                   <span class="fz25 c666666">{{item.comments}}</span>
                                </span>
                                
                              </div>
                            </div>
                                </div>
                            </a>
                        </li>
                       
                    </ul>
                  </li>
                  
                </ul>
              </div>
            </div>
          </div>
          
  
        </div>
      </div>
      

    
</div>      
</div>  

<!--顶部的固定标题-->
<div id="sliderSegmentedControl"  class="border-b sliderSegmentedControlfixed fixed mui-scroll-wrapper mui-slider-indicator mui-segmented-control mui-segmented-control-inverted" style="background:white;">
          <div class="mui-scroll fz25" style="left:0.4rem;height:0.7rem;">
            <a @tap="qiehuan(1)" class=" mui-control-item padding0" :class="{'mui-active':datasIdx==1}" data-index='1' href="#item1mobile">
              綜合
            </a>
            <a @tap="qiehuan(2)" class=" mui-control-item padding0" :class="{'mui-active':datasIdx==2}" data-index='2' href="#item2mobile">
               求盤
            </a>
            <a @tap="qiehuan(3)" class=" mui-control-item padding0" :class="{'mui-active':datasIdx==3}" data-index='3' href="#item3mobile">
               時事
            </a>
          </div>
              <a @tap="paixus($event)" class="fz25 c666666 czjz" style="right:0.4rem;">
               排序
               <span class="mui-icon-arrowdown mui-icon exchange"  style="margin-left:0;width:0.2rem;margin-right: 0;border:none;"></span>
            </a>
        </div>
<!--弹出框个人资料-->
  <div class="mui-backdrop" v-if="zhezhaoceng==true">
    <div class="radius bai jz" style="width:6rem;height:5.23rem;padding:0.7rem 0.25rem;">
       <img @click="closes()" src="../../assets/img/taolunqu/close.png" alt="" class="absolute" style="width:0.52rem;top:0.25rem;right:0.25rem;"/>
       <div style="height:1.64rem;width:1.64rem;" class="radius50 overflow center margin">
               <img :src="zhezhaocengItem.user.avatar!=undefined&&zhezhaocengItem.user!=undefined?zhezhaocengItem.user.avatar.url:'../../assets/img/taolunqu/head.png'"  alt=""  style="width:1.64rem;"/>
       </div>
       <p class="fz30 c000000 center" style="margin:0.27rem 0 0.15rem 0;">
         {{(!isNaN(zhezhaocengItem.user.nickname)==false?zhezhaocengItem.user.nickname:zhezhaocengItem.user.nickname.substring(0,2)+'****'+zhezhaocengItem.user.nickname.substring(zhezhaocengItem.user.nickname.length,zhezhaocengItem.user.nickname.length-2))}}
       </p>
       <p class="fz25 c888888 center">
        <img src="../../assets/img/xiangqing/phone_gx.png" alt="" style="width:0.2rem;"/>
        手機號碼已驗證
       </p>
      <ul class="overflow fz23 c888888" style="margin-top:0.4rem;">
        <li class="mui-pull-left center border-r" style="width:50%;">
          <p>註冊時間</p>
          <img src="../../assets/img/taolunqu/time.png" alt="" style="width:0.23rem;top:0.05rem;" class="relative"/> 
          <span class="fz25 c888888">{{zhezhaocengItem.user.createdAt.substring(0,10)}}</span>    
        </li>
        <li class="mui-pull-right center" style="width:50%;">
          <p>總讃數</p>
          <img src="../../assets/img/taolunqu/zong.png" alt="" style="width:0.23rem;top:0.05rem;" class="relative"/> 
          <span class="fz25 cff4d00">{{zhezhaocengItem.user.likes}}</span>    
        </li>
      </ul>

    </div>
  </div>
</div>        
 


<!--排序框-->
<div id="paixu" class="mui-popover mui-popover-bottom mui-popover-action" >
    <!-- 可选择菜单 -->
    <ul class="mui-table-view fz27 c000000 " style="border-radius: 0.2rem;">
      <li @click="paixuClick(1,'default')" class="mui-table-view-cell">
        <a href="#">默認排序</a>
      </li>
      <li  @click="paixuClick(2,'feedback')" class="mui-table-view-cell">
        <a href="#">回復時間排序</a>
      </li>
       <li  @click="paixuClick(3,'createdAt')" class="mui-table-view-cell">
        <a href="#">發帖時間排序</a>
      </li>
    </ul>
    <!-- 取消菜单 -->
    <ul class="mui-table-view fz27 c000000 " style="border-radius: 0.2rem;">
      <li class="mui-table-view-cell">
        <a href="#sheet1" @click="quxiao"><b>取消</b></a>
      </li>
    </ul>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
 <!-- <script src="https://cdn.bootcss.com/vuex/3.0.1/vuex.min.js"></script> -->
 <!-- <script src="https://cdn.bootcss.com/vue-router/3.0.1/vue-router.min.js"></script> -->

    <script src="../../static/vconsole.min.js"></script>
    <script src="../../static/mui.min.js"></script>
    <!-- <script src="../../templated/liebiao.js"></script> -->
    <!-- <script src="../../static/imgUp.js"></script> -->
    <script src="../../static/mui.pullToRefresh.js"></script>
    <script src="../../static/mui.pullToRefresh.material.js"></script>
    <script src="../../static/mui.zoom.js"></script>
    <script src="../../static/mui.previewimage.js"></script>
    <!-- <script src="../../static/public.js"></script> -->
    <script type="text/javascript">
      // 初始化previewImage
      mui.previewImage();
      mui.init();
      // var objectId = '58bd0b8b1b69e6006b274f76' //'587f3b29570c352201193d6e'
      // var user = '';
    </script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {

        // imageView:'?imageView2/auto-orient',
        // imageView1:'?imageView2/auto-orient/1/w/'+parseInt(500*w0)+'/h/'+parseInt(500*w0),
        // imageView2:'?imageView2/auto-orient/1/w/'+parseInt(245*w0)+'/h/'+parseInt(245*w0),
        // imageView3:'?imageView2/auto-orient/1/w/'+parseInt(163*w0)+'/h/'+parseInt(163*w0),
         imageView1:'?imageView2/1/w/'+parseInt(500*w0)+'/h/'+parseInt(500*w0),
        imageView2:'?imageView2/1/w/'+parseInt(245*w0)+'/h/'+parseInt(245*w0),
        imageView3:'?imageView2/1/w/'+parseInt(163*w0)+'/h/'+parseInt(163*w0),
        imageView:'',
        bb:'',
        page1:0,
        page2:0,
        page3:0,
        count1:'',
        count2:'',
        count3:'',
        paixu1:'default',//综合记录的排序方式
        paixu2:'default',//求盤记录的排序方式
        paixu3:'default',//时事记录的排序方式
//默認排序: default, 回復時間排序: feedback 發帖時間排序: createdAt 熱門排序: hot 精品帖: recommend
        datasIdx:1,
        zhezhaoceng:false,//个人头像弹出框
        zhezhaocengItem:[],//个人头像的信息
        datas1:[],//综合的
        datas2:[],//求盤
        datas3:[],//时事
        
        //轮播图图片
        slideimg: [
        ],

      },
           methods: {
              //禁止轮播左右滑动
      sliders(e){
          this.datasIdx=e.detail.slideNumber+1
      },
      //我要发布
      fabus(name){
        if(sessiontoken){
          location.href='../woyaofabu/woyaofabu.html?sessiontoken='+sessiontoken
        //   if(isAPP){
        //   locationClick(name)
        // }else{
        //   this.$router.push({name:name})
        // }
          
        }else{
          //登录提示框
          mui.toast('請先到【我的】登入')
        }
        
      },
      go(src){
        location.href=src
      },
      // //禁止轮播左右滑动
      // sliders(e){
      //   $('#item1mobile').addClass('mui-active')
      //     this.datasIdx=e.detail.slideNumber+1
      //     //切换的时候要判断切换去的标签是否是第一次进入，是则调用方法，否则就不调用，用当前标签是否页数为0来判断
      //         if(this.datasIdx==1){
      //           $('#item1mobile').addClass('mui-active')
      //           if(this.page1==0){
      //             this.refresh()
      //           }
      //         }else if(this.datasIdx==2){
      //           $('#item2mobile').addClass('mui-active')
      //           if(this.page2==0){
      //             this.refresh()
      //           }
      //         }else if(this.datasIdx==3){
      //           $('#item3mobile').addClass('mui-active')
      //           if(this.page3==0){
      //             this.refresh()
      //           }
      //         }
      // },
      //个人资料弹出框
      zhezhaocengs(item){
        this.zhezhaocengItem=item
        this.zhezhaoceng=true
      },
      scrolls(e){
        var top=$(".aaa").offset().top
//               console.log($(".aaa").offset().top)
                 if(top>0){
                    $('.sliderSegmentedControlfixed').css({'display':'none'}) 
                 }else{
                  $('.sliderSegmentedControlfixed').css({'display':'block'})
                 }

      },
        //点击关闭个人资料弹出框的叉子
        closes(){
          this.zhezhaoceng=false
        },
        //排序框
        paixus(e){
          //传入toggle参数，用户无需关心当前是显示还是隐藏状态，mui会自动识别处理；
//        $('.exchange').toggleClass('mui-icon-arrowdown')
//          $('.exchange').toggleClass('mui-icon-arrowup')
             mui('#paixu').popover('toggle');
        },
        //三种排序方式的点击按钮
          paixuClick(number,paixu){
            if(this.datasIdx==1){
              this.paixu1=paixu
              this.page1=0
              this.datas1=[]
            }else if(this.datasIdx==2){
              this.paixu2=paixu
              this.page2=0
              this.datas2=[]
            }else if(this.datasIdx==3){
              this.paixu3=paixu
              this.page3=0
              this.datas3=[]
            }
          //传入toggle参数，用户无需关心当前是显示还是隐藏状态，mui会自动识别处理；
             mui('#paixu').popover('toggle');
              this.refresh()
        },
        //取消按钮
          quxiao(){
          //传入toggle参数，用户无需关心当前是显示还是隐藏状态，mui会自动识别处理；
//        $('.exchange').toggleClass('mui-icon-arrowdown')
//          $('.exchange').toggleClass('mui-icon-arrowup')
             mui('#paixu').popover('toggle');
        },
        //点击题目和描述跳到对应的讨论区详情
        xiangqing(objectId){
//        alert(33)
location.href='taolunquXq.html?objectId='+objectId+'&sessiontoken='+sessiontoken
        //        if(isAPP){
        //   locationClick('taolunquXq/'+objectId)
        // }else{
        //   this.$router.push({name:'taolunquXq',params:{objectId:objectId}})
        // }
          
        },
        qiehuan(index){
          // alert(1)
          // mui.toast('111111')
                  // 主动上拉加载 
              this.datasIdx=index
              //切换的时候要判断切换去的标签是否是第一次进入，是则调用方法，否则就不调用，用当前标签是否页数为0来判断
              if(index==1){
                if(this.page1==0){
                  this.refresh()
                }
              }else if(index==2){
                if(this.page2==0){
                  this.refresh()
                }
              }else if(index==3){
                if(this.page3==0){
                  this.refresh()
                }
              }
                
        },
        refresh(){
          var that=this;
          (function($) {
        //阻尼系数
        // var deceleration = mui.os.ios?0.003:0.0009;
        $('.mui-scroll-wrapper').scroll({
          bounce: false,
          indicators: true, //是否显示滚动条
          deceleration:0.0003//deceleration
        });
        $.ready(function() {
          //循环初始化所有下拉刷新，上拉加载。
          $.each(document.querySelectorAll('#wai.mui-scroll'), function(index, pullRefreshEl) {
            $(pullRefreshEl).pullToRefresh({
//刷新              
              down: {
                auto: true,//可选,默认false.首次加载自动下拉刷新一次
                callback: function() {
                  var self = this;
                  var tag=''
                  var sort=''
                  if(that.datasIdx==1){
                    tag=''//综合传空进去
                    that.page1=1
                    sort=that.paixu1
                    console.log('当前的是综合1')
                }else if(that.datasIdx==2){
                      tag='求盤'
                      that.page2=1
                      sort=that.paixu2
                    console.log('当前的是求盤2')
                  }else if(that.datasIdx==3){
                     tag='時事'
                     that.page3=1
                     sort=that.paixu3
                    console.log('当前的是时事3')
                  }
mui.ajax(Boss+'discuss',{
  data:{
    tag:tag,
    sort:sort,
    page:1,
    limit:limit20,
    sessiontoken:sessiontoken
  },
  dataType:'json',//服务器返回json格式数据
  type:'GET',//HTTP请求类型
  timeout:10000,//超时时间设置为10秒；
//  headers:{'Content-Type':'application/json'},                
  success:function(data){
    //服务器返回响应，根据响应结果，分析是否登录成功；
    if(data.status==true){
      that.slideimg=data.result.slider
      //获得slider插件对象
      setTimeout(function(){
        var gallery = mui('.xiangqingSlider');
        gallery.slider({
          interval: 3000 //自动轮播周期，若为0则不自动播放，默认为0；
        });
      },100)
      if(that.datasIdx==1){
      that.count1=data.result.count 
      that.datas1=data.result.data
       }else if(that.datasIdx==2){
        that.count2=data.result.count 
      that.datas2=data.result.data
       }else if(that.datasIdx==3){
        that.count3=data.result.count 
      that.datas3=data.result.data
       }
       
    }
    self.endPullDownToRefresh();
                    
  },
  error:function(xhr,type,errorThrown){
    //异常处理；
    self.endPullDownToRefresh();
    mui.toast(type,{ duration:'long', type:'div' }) 
  }
});
              
                  

                }
              },
//滚动加载
              up: {
                auto: true,//可选,默认false.首次加载自动下拉刷新一次
                callback: function(item) {
                  var self = this;
                  var tag=''
                  var sort=''
                  var page=''
                  if(that.datasIdx==1){
                    tag=''
                    sort=that.paixu1
                    that.page1++
                    page=that.page1
                    console.log('当前的是综合1')
                }else if(that.datasIdx==2){
                      tag='求盤'
                      sort=that.paixu2
                      that.page2++
                    page=that.page2
                    console.log('当前的是求盤2')
                  }else if(that.datasIdx==3){
                     tag='時事'
                     sort=that.paixu3
                     that.page3++
                    page=that.page3
                    console.log('当前的是时事3')
                  }
                                    mui.ajax(Boss+'discuss',{
  data:{
    tag:tag,
    sort:sort,
    page:page,
    limit:limit20,
    sessiontoken:sessiontoken
  },
  dataType:'json',//服务器返回json格式数据
  type:'GET',//HTTP请求类型
  timeout:10000,//超时时间设置为10秒；
//  headers:{'Content-Type':'application/json'},                
  success:function(data){
    //服务器返回响应，根据响应结果，分析是否登录成功；
        if(data.status==true){
          that.slideimg=data.result.slider
          //获得slider插件对象
      setTimeout(function(){
        var gallery = mui('.xiangqingSlider');
        gallery.slider({
          interval: 3000 //自动轮播周期，若为0则不自动播放，默认为0；
        });
      },100)
      
      if(that.datasIdx==1){
        that.count1=data.result.count 
        //如果是切换标签的加载事件也就是现在请求的是第一页，所以则要让页数变为1，下次加载的时候就变成++
        if(that.page1==1){
          that.datas1=data.result.data
        }else{
          for (var i = 0; i < data.result.data.length; i++) {
                  that.datas1.push(data.result.data[i])
                 }
        }
        
        //2.判断是否停止
                            if(that.count1 == that.datas1.length) {
                              self.endPullUpToRefresh(true);//没有更多数据
                              
                            }else{
                                    self.endPullUpToRefresh();//加载更多数据
                            }
       }else if(that.datasIdx==2){
        that.count2=data.result.pages 
        if(that.page2==1){
          that.datas2=data.result.data
        }else{
          for (var i = 0; i < data.result.data.length; i++) {
                that.datas2.push(data.result.data[i])
               }
        }
        
      //2.判断是否停止
                            if(that.count2 == that.datas2.length) {
                              self.endPullUpToRefresh(true);//没有更多数据
                              
                            }else{
                                    self.endPullUpToRefresh();//加载更多数据
                            }
       }else if(that.datasIdx==3){
        that.count3=data.result.count 
        if(that.page3==1){
          that.datas3=data.result.data
        }else{
          for (var i = 0; i < data.result.data.length; i++) {
                 that.datas3.push(data.result.data[i])
                }
        }
        
        //2.判断是否停止
                            if(that.count3 == that.datas3.length) {
                              self.endPullUpToRefresh(true);//没有更多数据
                              
                            }else{
                                    self.endPullUpToRefresh();//加载更多数据
                            }
       }
       
    }
//    self.endPullUpToRefresh();
                    
  },
  error:function(xhr,type,errorThrown){
    //异常处理；让当前页数变回减1
        if(that.datasIdx==1){
        that.page1--
      }else if(that.datasIdx==2){
        that.page2--
      }else if(that.datasIdx==3){
        that.page3--
      }
    mui.toast(type,{ duration:'long', type:'div' }) 
    self.endPullUpToRefresh();
  }
});
                  

                }
              }
            });
          });


        });
      })(mui);
        }
    },
    mounted() {
//调用刷新和加载
 this.refresh()
var that=this;
  
         $(function(){
    //获取要定位元素距离浏览器顶部的距离
    var navH = $(".topbar").offset().top;
    //滚动条事件
    $(window).scroll(function(){
    //获取滚动条的滑动距离
      var scroH = $(this).scrollTop();
      //滚动条的滑动距离大于等于定位元素距离浏览器顶部的距离，就固定，反之就不固定
      console.log(scroH,navH)
      if(scroH>=navH){
        $(".topbar").addClass('appfixed')
      }else if(scroH<navH){
        $(".topbar").css({"position":"static !important"});
      }
    });
  });
      
    }

    })

  </script> 





  </body>

</html>