<!DOCTYPE html>
<html>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>詳情</title>
    <!-- <script typet="text/javascript" src="https://cdn.bootcss.com/jquery/2.2.0/jquery.min.js"></script> -->
    <script typet="text/javascript" src="../../static/jquery-2.2.0.js"></script>
    <script typet="text/javascript" src="../../static/common.js"></script>

    <link href="../../static/common.css" rel="stylesheet">
    <link href="../../static/commonS.css" rel="stylesheet">
    <!-- <link href="../../static/imgUp.css" rel="stylesheet"> -->
    <link rel="stylesheet" href="../../static/mui.min.css">
    <link rel="stylesheet" href="../../static/mescroll.min.css">
<style scoped>

.mui-pull-bottom-wrapper{background: white;}
  #scroll1,
  #scroll2,
  #scroll1>.mui-scroll,
  #scroll2>.mui-scroll {
    position: relative !important;
  }
  /*下面列表的下边框线条*/
  
  .xian:after {
    left: 1.1rem !important;
  }
  
  .xian0:after {
    height: 0 !important;
  }
  
  .mui-table-view:before {
    height: 0 !important;
  }
  
  .mui-segmented-control.mui-segmented-control-inverted .mui-control-item.mui-active {
    border-bottom: white;
  }
  .mui-pull-bottom-tips{height:1.2rem !important;line-height:1.2rem !important;}
  .mui-pull-bottom-wrapper{background:#ebebeb !important;}

  
    /* 刷新和加载 */

    .mescroll {
      position: fixed;
      top: 0 !important;
      bottom: 0;
      /* padding-top:4.5rem !important; */
    }

    /*ios使用sticky样式实现*/

    .nav-sticky {
      z-index: 9999;
      /*需设置zIndex,避免在悬停时,可能会被列表数据遮住*/
      top: 0 !important;
      /*相对mescroll的div悬停的位置*/
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -ms-sticky;
      position: -o-sticky;
      position: sticky;
    }

    /*android和pc端悬停*/

    .nav-fixed {
      z-index: 9999;
      position: fixed !important;
      top: 0 !important;
      left: 0;
      width: 100%;
    }
    .downwarp-content {
      padding-bottom: 2rem !important;
    }
</style>

  </head>

  <body>

    <div id="app">
<div v-cloak class="XIANGQING mescroll" id="mescroll">
    <div  style="padding-bottom:1rem;">
      <!--1.讨论区详情的列表描述-->
      <ul class="mui-table-view" v-if="datas!='no'" v-cloak>
        <li class="mui-table-view-cell mui-media">
          <a href="javascript:;">
            <div class="mui-media-object mui-pull-left radius50 overflow" style="max-width:0.65rem;width:0.65rem;height:0.65rem;">
              <!--个人头像-->
              <img @tap="zhezhaoceng=true" :src="datas.user!=undefined&&datas.user.avatar!=undefined?datas.user.avatar.url:'../../assets/img/taolunqu/head.png'" style="width:100%;">
            </div>
            <div class="mui-media-body">
              <span class="cff4d00 fz23">{{datas.user.nickname}}</span>
              <p class="mui-ellipsis fz17 c666666">發佈時間:{{datas.createdAt}}</p>
              <p class="fz30 bugs" style="white-space: normal;word-break: break-all;"><button type="button" class="mui-btn mui-btn-green" style="font-size: 0.21rem;margin-right:0.1rem;">{{datas.tag}}</button>{{datas.title}}</p>
              <div class="fz25 c333333 mT10" style="white-space: normal;word-break: break-all;">{{datas.content}}</div>
                <!-- 具体某个人的在线聊天 -->
<p class="h40 relative">
                <button @tap="onlinechat(datas,datas.objectId,'more')"  type="button" class="czjz mui-btn-green mui-btn-outlined fz19" style="right:0;padding:0.03rem 0.06rem !important;">在線咨詢</button>
</p>
              <img :src="item.url+imageView2" alt="" class="mui-block" style="margin:0.45rem 0;width:100%;" data-preview-src="" :data-preview-group="'tlqxq'" v-for="(item,index) in datas.pics" />
            </div>
          </a>
        </li>

      </ul>
      <!--2.讨论区详情的评论区悬浮块  titlezan()titlereply-->

      <div id="navWarp" class="mg10" style="background:white;height: 0.73rem;">
        <div class="bai" style="width: 100%;"  id="navContent">
            <div class="bai relative" style="height: 0.7rem;"> 
                <img v-show="curNavIndex==0" src="../../assets/img/taolunqu/zanzuo.png" alt="" style="width:6.4rem;" class="absolute B00 L00"/>
                <img v-show="curNavIndex==1" src="../../assets/img/taolunqu/replyyou.png" alt="" style="width:6.4rem;" class="absolute B00 L00"/>
          <a @tap="qiehuan($event, 0)"  style="width:50%;line-height:0.3rem;" class="mui-control-item mg10 border-r center mui-pull-left" >
            <img :src="curNavIndex==0?'../../assets/img/taolunqu/tablv.png':'../../assets/img/taolunqu/tabhui.png'" alt="" style="width:0.36rem;top:0.05rem;" class="relative" />
            <span class="fz25"  :class="{c666666:curNavIndex==1,c36c748:curNavIndex==0}">{{datas.goods}}</span>

          </a>
          <!--留言-->
          <a @tap="qiehuan($event, 1)" style="width:50%;line-height:0.3rem;" class="mg10 mui-control-item center mui-active mui-control-item mui-pull-right" >
            <img :src="curNavIndex==0?'../../assets/img/taolunqu/tabhui2.png':'../../assets/img/taolunqu/tablv2.png'" alt="" style="width:0.36rem;top:0.05rem;" class="relative" />
            <span class="fz25" :class="{c666666:curNavIndex==0,c36c748:curNavIndex==1}">{{datas.comments}}</span>

          </a>
        </div>
        </div>
       

      </div>

<!--2.留言区-->
        <div  class="" id="upscrollWarp">
          <div >
            <div>
              <ul class="mui-table-view after00" id="dataList">
                <li v-if="datass.length>0" class="mui-table-view-cell xian padding0" style="padding-top:0.2rem !important;" v-for="(item,index) in datass">
                  <ul class="mui-table-view xian0">
                    <li class="mui-table-view-cell mui-media xian0">
                      <a href="javascript:;">
                        <div class="mui-media-object mui-pull-left radius50 overflow relative" style="max-width:0.8rem;width:0.8rem;height:0.8rem;">
                          <!--个人头像-->
                          <img v-if="curNavIndex==1" class="jz" :src="item.user!=undefined&&item.user.avatar!=undefined?item.user.avatar.url:'../../assets/img/taolunqu/head.png'" style="width:100%;">

                                 <!--个人头像-->
                            <!-- 对比id是否相同就知道当前点赞的是否是发帖子的本人 -->
                            <img v-if="curNavIndex==0"  @tap="zhezhaoceng=true" :src="item.avatar!=undefined?item.avatar.url:'../../assets/img/taolunqu/head.png'" style="width:100%;">


                        </div>
                        <div class="mui-media-body fz23 ">
                          <span v-if="curNavIndex==1" class="c282828">{{item.user!=undefined&&item.user.nickname!=undefined?item.user.nickname:' '}}</span>
                         
                          <span v-if="curNavIndex==0" class="c282828"> {{(!isNaN(item.nickname)==false?item.nickname:item.nickname.substring(0,2)+'****'+item.nickname.substring(item.nickname.length,item.nickname.length-2))}}</span>


                          <p v-if="curNavIndex==1" class="mui-ellipsis fz19 c666666">發佈時間:{{item.createdAt}}</p>
                          <p v-if="curNavIndex==1" class="fz25 c333333" style="white-space: normal;">{{item.comment}}</p>

                          <p v-if="curNavIndex==1" class="fz25 c333333 h50 relative" style="white-space: normal;">
                                   <!--具体的点击某个人回复-->
                                  <button @tap="whoIds(item.user.nickname,item.objectId)" type="button" class="czjz mui-btn-green mui-btn-outlined fz19" style="right:0rem;padding:0.03rem 0.06rem !important;">回復</button>
                                  <!-- 具体某个人的在线聊天 -->
                                  <button @tap="onlinechat(item,item.objectId,'one')"  type="button" class="czjz mui-btn-green mui-btn-outlined fz19" style="right:1rem;padding:0.03rem 0.06rem !important;">在線咨詢</button>
                          </p>

                        </div>
                      </a>
                    </li>

                  </ul>
                </li>
              </ul>
            </div>
          </div >

        </div>
      </div>
    </div>
    

      
        <!--底部固定的攒好和回复-->
        <ul class="fixed bai center fz30 c666666" style="z-index:998;bottom:0;left:0;width:100%;height:0.98rem;padding:0.25rem 0;box-shadow: 0 0 0.1rem #EBEBEB;">
          <li @tap="bottomzan()"  :class="{c666666:datas.isgood==0,c36c748:datas.isgood!=0}" class="mui-pull-left border-r" style="width:50%;">       
              <img class="relative" :src="datas.isgood==0?'../../assets/img/taolunqu/dilanzan.png':'../../assets/img/taolunqu/dilanzanlv.png'" style="top:0.05rem;width:0.41rem;" alt="" /> 讃好        
          </li>
          <li @tap="bottomreply" class="mui-pull-right" style="width:50%;">
            <img class="relative" src="../../assets/img/taolunqu/dilan.png" style="top:0.08rem;width:0.41rem;" alt="" /> 回復
          </li>
        </ul>
    
    <!--底部固定的回复输入框-->
    <ul v-if="shurukuang==true" class="fixed bai fz30 c666666" style="z-index:998;bottom:0;left:0;width:100%;height:0.98rem;padding:0.25rem 0;box-shadow: 0 0 0.1rem #EBEBEB;">
      <li>
        <img @tap="shurukuang=false" class="absolute" src="../../assets/img/taolunqu/11.png" style="width:0.62rem;left:0.2rem;" alt="" />
        <input  @keyup.enter="fasongs()" id="input" type="text" v-model="values" :placeholder="towho" class="fz25 c999999" style="background:#EBEBEB;border:1px solid #BBBBBB;margin-left:1.2rem;margin-right:0.18rem;height:0.6rem;width:3.56rem;padding: 0 0.2rem;">
        <button @tap="fasongs()" type="button" class="mui-btn mui-btn-green fz30 pT06 pB06 pL20 pR20" style="padding:0.06rem 0.2rem;">發送</button>

      </li>
    </ul>
  </div>
</div>

<!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script> -->
<script src="../../static/vue.min.js"></script>


    <script src="../../static/vconsole.min.js"></script>
    <script src="../../static/mui.min.js"></script>
    <script src="../../templated/liebiao.js"></script>
    <!-- <script src="../../static/imgUp.js"></script> -->
    <!-- <script src="../../static/mui.pullToRefresh.js"></script>
    <script src="../../static/mui.pullToRefresh.material.js"></script> -->
    <script src="../../static/mui.zoom.js"></script>
    <script src="../../static/mui.previewimage.js"></script>
    <script src="../../static/mescroll.min.js"></script>
    <!-- <script src="../../static/public.js"></script> -->
    <script type="text/javascript">
      // 初始化previewImage
      mui.previewImage();
      mui.init();
      var mescroll;
      // var objectId = '58bd0b8b1b69e6006b274f76' //'587f3b29570c352201193d6e'
      var user = '';
    </script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
          curNavIndex: 1,
          imageView2: '?imageView2/2/w/' + parseInt(640 * w0),
         self:'',
        page1: 0,
        page2: 0,
        count1: '',
        count2: '',
        towho: '@樓主  |', //输入框的holder
        values: '', //发送的内容
        objectId: '', //发送的id
        datasIdx: 2, //目前位于哪个标题
        zhezhaoceng: false, //个人头像弹出框
        datas: 'no', //上面的贴文详情
        datass:[],//下面两个切换的数据中介
        datas1: 'no', //赞
        datas2: 'no', //留言
        text: '点点滴滴呃呃呃滴答滴答滴答滴答的的点点滴滴的点点滴滴呃呃鹅鹅鹅饿饿鹅鹅鹅饿饿的的点点滴滴的点点滴滴的的点点滴滴的点点滴滴搜索事实是搜索事实是搜索搜索事实是搜索事实是',
        shurukuang: false //回复输入框

      },
          methods: {
      scrolls(e){
        var top=$(".aaa").offset().top
//               console.log($(".aaa").offset().top)
                 if(top>0){
                    $('.sliderSegmentedControlfixed').css({'display':'none'}) 
                 }else{
                  $('.sliderSegmentedControlfixed').css({'display':'block'})
                 }

      },
      qiehuan(e, index) {
        // this.curNavIndex = index;
          //切换标题的函数
          console.log(this.curNavIndex,index,this.datas1)
          var that = this;
          var i = index;
          if (that.curNavIndex != i) {
            //更改列表条件
            that.curNavIndex = i;

            /*调整upscrollWarp的最小高度,使其刚好满屏,避免点击悬浮菜单时会滑下来;(这里每次点击都计算一次,毕竟轮播图高度改变或未能显示图都会影响计算的值)*/
            var minHight = mescroll.getClientHeight() - navWarp.offsetHeight;
            document.getElementById('upscrollWarp').style.minHeight = minHight + "px";
            //重置列表数据
            // if ((i == 0 && that.datas1 == 'no') || (i == 1 && that.datas2 == 'no') ) {
              console.log('初始化')
              if (i == 0) {
                that.page1 = 0
              } else if (i == 1) {
                that.page2 = 0
              } 
              mescroll.resetUpScroll();
            // } 
            // else {
            //   console.log('直接赋值')
            //   var aa = (i == 0 ? that.datas1 : (i == 1 ? that.datas2 : that.datas3))
            //   var bb = (i == 0 ? that.page1 : (i == 1 ? that.page2 : that.page3))
            //   that.datass = aa
  
            //   if ((i == 0 && (that.page1 == that.count1)) || (i == 1 && (that.page2 == that.count2)) || (i == 2 &&
            //       (that.page3 == that.count3))) {
            //     console.log('无更多数据')
            //     // mescroll.optUp.page.num = bb--;
            //     mescroll.showNoMore();
            //     mescroll.optUp.isLock = true; //实际粗发功能
            //     mescroll.optUp.hasNext = false; //实际粗发功能
               

            //   } else {
            //     console.log('更多数据')
   
            //     mescroll.optUp.isLock = false; //实际粗发功能
            //     mescroll.optUp.hasNext = true; //实际粗发功能
              
            //   }


            // }

          }

        },
      //标题点击赞让输入框消失
      titlezan() {
        this.datasIdx = 1
                $("#item1").addClass('mui-active')
        $("#item2").removeClass('mui-active')
        this.shurukuang = false
                if(this.page1==0){
                  this.refresh()
                }
        
      },
      //标题点击回复切换到回复框
      titlereply() {
        this.datasIdx = 2
                $("#item2").addClass('mui-active')
        $("#item1").removeClass('mui-active')
        if(this.page2==0){
                  this.refresh()
              }
      
      },
            //在线咨询
            onlinechat(data,objectId,who) {
              console.log(data)
              // return
              if (sessiontoken && sessiontoken != 'null') {
                console.log('进来了' + sessiontoken)
                // 判断是否是发布者 不是则调用手机聊天接口  是则弹出提示框
                var whos=(who=='one'?data.user.objectId:this.datas.user.objectId)
                var ob=window.localStorage.getItem('userId') 
                if (ob == whos) {
                  mui.alert('您是本盤的發佈者，不能進行在線諮詢', ' ', ['好的'])
                } else {
                  // window.webkit.messageHandlers.gotoChat.postMessage(this.datas)
                  console.log("数据" + this.datas)
                  var ua = navigator.userAgent.toLowerCase();
                 if (ua.match(/iPhone\sOS/i) == "iphone os") {
                  console.log('苹果')
                  console.log(data)
                  WebViewJavascriptBridge.callHandler('gotoServer',data.user.objectId, function (response) {
                    document.getElementById("returnValue").value = response;
                  });
                 }else{
                  console.log('安卓')
                  console.log(data)
                  window.callHandler.onlinechat(JSON.stringify(data));
                 }
                 
                }
    
              } else {
                console.log('还没进来了' + sessiontoken)
                mui.toast('請先到【我的】登入')
              }
    
            },
      //具体点击的某个人的回复框
      whoIds(name, id) {
        if(sessiontoken==''){
                   mui.toast('請先到【我的】登入')
                   return
                   }
        //记录下全局的回复人id
        this.towho = '@' + name + ': ' //列表对应人的名字
        this.shurukuang = true
      },
      //底部的攒好按钮
      bottomzan() {
        var that=this
        console.log(sessiontoken)
        this.datasIdx=1
        $("#item1").addClass('mui-active')
        $("#item2").removeClass('mui-active')
          if(!sessiontoken||sessiontoken=='null'){
                   mui.toast('請先到【我的】登入')
                   return
                   }
          //1.不等于0则代表说已经赞过了，这个时候点击要取消攒
          if(that.datas.isgood!=0){
                    //发生攒的请求  路由传过来的id
            mui.ajax(Boss+'discuss/'+that.objectId+'/good',{
              data:{
                sessiontoken:sessiontoken
              },
              dataType:'json',//服务器返回json格式数据
              type:'DELETE',//HTTP请求类型
              timeout:10000,//超时时间设置为10秒；              
              success:function(data){
                //服务器返回响应，根据响应结果，分析是否登录成功；
                if(data.status==true){
                  that.datas.isgood=0
                  that.datas.goods=that.datas.goods-1
                  that.page1=0
                  that.refresh()
                }
                                
              },
              error:function(xhr,type,errorThrown){
                //异常处理；
                mui.toast(type,{ duration:'long', type:'div' }) 
              }
            });
          }else{
            //2.等于0则代表说没有赞过，这个时候点击要攒
                    //发生攒的请求  路由传过来的id
            mui.ajax(Boss+'discuss/'+that.objectId+'/good',{
              data:{
                sessiontoken:sessiontoken
              },
              dataType:'json',//服务器返回json格式数据
              type:'post',//HTTP请求类型
              timeout:10000,//超时时间设置为10秒；              
              success:function(data){
                //服务器返回响应，根据响应结果，分析是否登录成功；
                if(data.status==true){
                  that.datas.isgood=1
                  that.datas.goods=that.datas.goods+1
                  that.page1=0
                  that.refresh()
                }
                                
              },
              error:function(xhr,type,errorThrown){
                //异常处理；
                mui.toast(type,{ duration:'long', type:'div' }) 
              }
            });
          }
  
        
      },
      //底部的回复按钮
      bottomreply() {
        var that=this
        if(!sessiontoken||sessiontoken=='null'){
                   mui.toast('請先到【我的】登入')
                   return
                   }
        this.shurukuang = true
        this.towho = '@樓主  |'
      },
      //发送按钮
      fasongs() {
       console.log(sessiontoken)
        var that = this
        var val=that.values
        if(that.values.length == 0) {
          mui.toast('輸入的內容不能為空')
          return
        }
        if(that.towho!='@樓主  |'){
          val=that.towho+that.values
        }
        
        //根据地址传过来的id去查看具体的信息 这里的是传过来的id
        mui.ajax(Boss + 'discuss/' + that.objectId + '/comment', {
          data: {
            comment: val,
            sessiontoken: sessiontoken
          },
          dataType: 'json', //服务器返回json格式数据
          type: 'post', //HTTP请求类型
          timeout: 10000, //超时时间设置为10秒；
          success: function(data) {
            //服务器返回响应，根据响应结果，分析是否登录成功；
            if(data.status == true) {
              that.shurukuang = false;
              that.page2=0;
              that.values='';
              that.refresh();
            }else{
              mui.toast(data.result.message)
            }
          },
          error: function(xhr, type, errorThrown) {
            //异常处理；
            mui.toast(errorThrown)
          }
        });

      },
      refresh() {
          var that = this;
          //创建MeScroll对象,内部已默认开启下拉刷新,自动执行up.callback,刷新列表数据;
          mescroll = new MeScroll("mescroll", {
            up: {
              page: {
                num: 0,
                size: limit20,
                time: null
              },
              offset: 1500,
              // isLock:true,
              // scrollbar:{
              //     use : true, 
              //     barClass : "mescroll-bar" 
              //   },
              empty: {
                // icon: "../res/img/mescroll-empty.png", //图标,默认null
                tip: "已顯示全部內容" //提示
                // btntext: "去逛逛 >", //按钮,默认""
                // btnClick: function(){//点击按钮的回调,默认null
                // 	alert("点击了按钮,具体逻辑自行实现");
                // } 
              },
              callback: getListData, //上拉回调,此处可简写; 相当于 callback: function (page, mescroll) { getListData(page); }
              isBounce: false, //此处禁止ios回弹,解析(务必认真阅读,特别是最后一点): http://www.mescroll.com/qa.html#q10
              clearEmptyId: 'dataList', //相当于同时设置了clearId和empty.warpId; 简化写法;
              // clearEmptyId:that.curNavIndex==0?'dataList1':(that.curNavIndex==1?'dataList2':'dataList3'), //相当于同时设置了clearId和empty.warpId; 简化写法;
              warpId: 'upscrollWarp', //that.curNavIndex==0?'upscrollWarp1':(that.curNavIndex==1?'upscrollWarp2':'upscrollWarp3')  //让上拉进度装到upscrollWarp里面
              toTop: { //配置回到顶部按钮
                src: "mescroll-totop.png", //默认滚动到1000px显示,可配置offset修改
                //offset : 1000
              }
            }
          }); //插件的函数


          var navWarp = document.getElementById("navWarp");
          if (mescroll.os.ios) {
            //ios的悬停效果,通过给navWarp添加nav-sticky样式来实现
            navWarp.classList.add("nav-sticky");
          } else {
            //android和pc端悬停效果,通过监听mescroll的scroll事件,控制navContent是否为fixed定位来实现
            navWarp.style.height = "0.7rem"; //固定高度占位,避免悬浮时列表抖动
            var navContent = document.getElementById("navContent");
            mescroll.optUp.onScroll = function (mescroll, y, isUp) {
              console.log("up --> onScroll 列表当前滚动的距离 y = " + y + ", 是否向上滑动 isUp = " + isUp);
              if (y >= navWarp.offsetTop) {
                navContent.classList.add("nav-fixed");
              } else {
                navContent.classList.remove("nav-fixed");
              }
            }
          } //悬浮的函数




          /*联网加载列表数据  page = {num:1, size:10}; num:当前页 从1开始, size:每页数据条数 */
          function getListData(page) {
            // mui.toast('yes')
            // 1.如果插件本身这个时候页数是1说明刷新了当前页面,则赋值给对应标签的页数为0
            // alert(page.num)
            // if(that.isload==false){
            //   console.log('页数不发请求')
            //   that.isload=true
            //   return
            // }
            if (page.num == 1) {
              if (that.curNavIndex == 0) {
                that.page1 = 0
              } else if (that.curNavIndex == 1) {
                that.page2 = 0

              }
            }





            // 当前的标签页数
            var pages = (that.curNavIndex == 0 ? that.page1 : (that.curNavIndex == 1 ? that.page2 : that.page3))
            if ((that.curNavIndex == 0 && that.datas1 == 'no') || (that.curNavIndex == 0 && pages == 0)) {
              that.datas1 = []
              that.datass = []
            }
            if ((that.curNavIndex == 1 && that.datas2 == 'no') || (that.curNavIndex == 1 && pages == 0)) {
              that.datas2 = []
              that.datass = []
            }
           
            //联网加载数据
            getListDataFromNet(that.curNavIndex, pages, function (curPageData, pages, curNavIndex, zongyeshu) {
              //联网成功的回调,隐藏下拉刷新和上拉加载的状态;
              //mescroll会根据传的参数,自动判断列表如果无任何数据,则提示空;列表无下一页数据,则提示无更多数据;		
              mescroll.endSuccess(curPageData.length);
              //设置列表数据
              setListData(curPageData, pages, that.curNavIndex, zongyeshu);

            }, function () {
              //联网失败的回调,隐藏下拉刷新和上拉加载的状态;
              mescroll.endErr();
            });
          } //getListData函数

          /*设置列表数据*/
          function setListData(curPageData, pages, curNavIndex, zongyeshu) {



            if (curNavIndex == 0) {
                that.page1++
                that.count1 = zongyeshu
              
            } else if (curNavIndex == 1) {
                that.page2++
                that.count2 = zongyeshu
            } 

            for (var i = 0; i < curPageData.length; i++) {
              if (curNavIndex == 0) {
                that.datas1.push(curPageData[i])
              } else if (curNavIndex == 1) {
                that.datas2.push(curPageData[i])
              } 
              that.datass.push(curPageData[i])

            }


            var bpage = (curNavIndex == 0 ? that.page1 : (curNavIndex == 1 ? that.page2 : that.page3))
            if (zongyeshu == bpage) {
              console.log('无更多数据')
              // mescroll.optUp.page.num = bb--;
              mescroll.showNoMore();
              mescroll.optUp.isLock = true; //实际粗发功能
              mescroll.optUp.hasNext = false; //实际粗发功能
            } else {
              console.log('更多数据')
              // mescroll.optUp.page.num = bb-;
              // mescroll.showUpScroll();
              mescroll.optUp.isLock = false; //实际粗发功能
              mescroll.optUp.hasNext = true; //实际粗发功能
            }
          } //setListData函数



      
          /*联网加载列表数据
           在您的实际项目中,请参考官方写法: http://www.mescroll.com/api.html#tagUpCallback
           请忽略getListDataFromNet的逻辑,这里仅仅是在本地模拟分页数据,本地演示用
           实际项目以您服务器接口返回的数据为准,无需本地处理分页.
           * */
          function getListDataFromNet(curNavIndex, pages, successCallback, errorCallback) {
            var url = (curNavIndex == 0 ? 'discuss/' + that.objectId + '/good' :'discuss/' + that.objectId + '/comment')
            pages++

            $.ajax({
              type: 'GET',
              url: Boss + url,
              data: {
                page: pages,
                limit: limit20,
                sessiontoken: sessiontoken
              },
              success: function (data) {
                if (data.status) {
                  //回调
                  
             
                  successCallback(data.result.data, pages, curNavIndex, data.result.pages);
                } else {
                  //联网失败的回调,隐藏下拉刷新和上拉加载的状态;
                  mescroll.endErr();
                  mui.toast(data.result.message)
                }

              },
              error: errorCallback
            });
          } //getListDataFromNet函数


        },
     
      //查看讨论区贴文详情
      discuss() {
        var that = this
        //根据地址传过来的id去查看具体的信息
        mui.ajax(Boss + 'discuss/' + that.objectId, {
          data: {
            sessiontoken: sessiontoken
          },
          dataType: 'json', //服务器返回json格式数据
          type: 'get', //HTTP请求类型
          timeout: 10000, //超时时间设置为10秒；
//          headers: {
//            'Content-Type': 'application/json'
//          },
          success: function(data) {
            //服务器返回响应，根据响应结果，分析是否登录成功；
            if(data.status==true){
              that.datas = data.result
            }
            
          },
          error: function(xhr, type, errorThrown) {
            //异常处理；
            mui.toast(errorThrown)
          }
        });
      }
    },
    mounted() {
      // 添加叉子
$('#__MUI_PREVIEWIMAGE').append('<img src="../../assets/img/login/cazhi.png"  class="absolute cursor w40 padding0 T25 R40">')
$(document).on('click','#__MUI_PREVIEWIMAGE',function(){
  $('#__MUI_PREVIEWIMAGE').removeClass('mui-preview-in')
  $('#__MUI_PREVIEWIMAGE').addClass('mui-preview-out')
})
      //全局的id  点击讨论区列表的跳转id
      this.objectId = locations('objectId')
      //查看讨论区贴文详情
      this.discuss()
      //刷新和加载
      this.refresh()

    }

    })

  </script> 





  </body>

</html>